In [1]:
#from google.colab import files

#uploaded = files.upload()

In [2]:
! ls

first_view.ipynb  second_view.ipynb  third_view.ipynb

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
#patch = "" # For Google CoLab
path = "../data/"

In [4]:
chefmozacccepts = pd.read_csv(path+"chefmozaccepts.csv")
chefmozcuisine = pd.read_csv(path+"chefmozcuisine.csv")
chefmozhours4 = pd.read_csv(path+"chefmozhours4.csv")
chefmozparking = pd.read_csv(path+"chefmozparking.csv")
geoplaces2 = pd.read_csv(path+"geoplaces2.csv")
rating_final = pd.read_csv(path+"rating_final.csv")
usercuisine = pd.read_csv(path+"usercuisine.csv")
userpayment = pd.read_csv(path+"userpayment.csv")
userprofile = pd.read_csv(path+"userprofile.csv")

## Chefmozaccepts
placeID: ID of the restaurant.

Rpayment: type of pay that the restaurant accept

In [5]:
chefmozacccepts.shape

(1314, 2)

In [6]:
chefmozacccepts.sample(5)

     placeID Rpayment
393   132956     cash
752   132742     cash
72    135076     cash
354   132994     cash
589   132820     cash

In [7]:
chefmozacccepts['Rpayment'].unique()

array(['cash', 'VISA', 'MasterCard-Eurocard', 'American_Express',
       'bank_debit_cards', 'checks', 'Discover', 'Carte_Blanche',
       'Diners_Club', 'Visa', 'Japan_Credit_Bureau', 'gift_certificates'],
      dtype=object)

In [8]:
chefmozacccepts['Rpayment'].unique().size

12

We have 12 type of payment, maybe we have to only use 2 or 3 of them, like cash, credictCard and checks.

In [9]:
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment']
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts']\
             .replace(['VISA', 'MasterCard-Eurocard', 'American_Express',
                       'bank_debit_cards','Discover', 'Carte_Blanche',
                       'Diners_Club', 'Visa', 'Japan_Credit_Bureau'], ' credictCard')
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts']\
             .replace(['gift_certificates'], 'checks')

In [10]:
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts'].astype('category')

In [11]:
chefmozacccepts.sample(10)

      placeID          Rpayment Rpayment_accepts
990    132576              cash             cash
1111   132364              Visa      credictCard
1229   132187  American_Express      credictCard
699    132774              VISA      credictCard
723    132758              cash             cash
890    132658              cash             cash
493    132886              cash             cash
1062   132442  American_Express      credictCard
783    132725              cash             cash
1128   132344              Visa      credictCard

## Chefmozcuisine

placeID: ID of the restaurant.

Rcuisine: The region of the food that they cook.

In [12]:
chefmozcuisine.sample(5)

     placeID         Rcuisine
836   132138           Bakery
835   132145  Deli-Sandwiches
156   133000           Family
713   132289           French
806   132182          Italian

In [13]:
chefmozcuisine['Rcuisine'].unique()

array(['Spanish', 'Italian', 'Latin_American', 'Mexican', 'Fast_Food',
       'Burgers', 'Dessert-Ice_Cream', 'Hot_Dogs', 'Steaks', 'Asian',
       'International', 'Mongolian', 'Vegetarian', 'Brazilian',
       'Cafe-Coffee_Shop', 'Cafeteria', 'Contemporary', 'Deli-Sandwiches',
       'Diner', 'Japanese', 'Sushi', 'Seafood', 'Chinese', 'Bar',
       'Bar_Pub_Brewery', 'Pizzeria', 'Mediterranean', 'American',
       'Family', 'Caribbean', 'African', 'Breakfast-Brunch', 'Regional',
       'Afghan', 'Bakery', 'Game', 'Armenian', 'Vietnamese', 'Korean',
       'Thai', 'Barbecue', 'Polish', 'Dutch-Belgian', 'French', 'German',
       'Southwestern', 'Persian', 'Ethiopian', 'Juice', 'Soup',
       'Continental-European', 'Greek', 'Southern', 'Eastern_European',
       'California', 'Bagels', 'Turkish', 'Organic-Healthy',
       'Fine_Dining'], dtype=object)

In [14]:
# This doesn't make much sense, we can split the Clasification for have less dummy variables, but we will try make the recomendation with full data
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine']
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Spanish','Italian','Seafood','Greek','Mediterranean'], 'Mediterranean')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Latin_American','Mexican','Brazilian','Caribbean'], 'South_American')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Fast_Food','Hot_Dogs','Burgers','Deli-Sandwiches','Pizzeria'], 'Fast_Food')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Asian','Mongolian','Chinese','Japanese','Sushi','Vietnamese', 'Korean','Thai'], 'Asian')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['French', 'German','Polish', 'Dutch-Belgian','Continental-European','Eastern_European'], 'European')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Afghan','Armenian','Persian','Turkish'], 'Turkish')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['African','Ethiopian'], 'African')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Breakfast-Brunch','Bagels','Juice'], 'Breakfast')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Bar_Pub_Brewery','Bar'], 'Bar')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Cafeteria','Cafe-Coffee_Shop',''], 'Coffee_Shop')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Fine_Dining','Organic-Healthy','Vegetarian'], 'Healthy-Vegetarian')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['American','California','Southwestern'], 'American')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Steaks','Barbecue'], 'Meat')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Dessert-Ice_Cream'], 'Ice_Cream')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Southern'], 'Regional')

In [15]:
chefmozcuisine['Rcuisine_Type'].unique()

array(['Mediterranean', 'South_American', 'Fast_Food', 'Ice_Cream',
       'Meat', 'Asian', 'International', 'Healthy-Vegetarian',
       'Coffee_Shop', 'Contemporary', 'Diner', 'Bar', 'American',
       'Family', 'African', 'Breakfast', 'Regional', 'Turkish', 'Bakery',
       'Game', 'European', 'Soup'], dtype=object)

In [16]:
chefmozcuisine[chefmozcuisine['Rcuisine_Type']=='Game']

     placeID Rcuisine Rcuisine_Type
277   132851     Game          Game
735   132255     Game          Game

## chefmozhours4

placeID: ID of the restaurant.

hours: Hours that they open

days Days that they open

In [17]:
chefmozhours4.sample(5)

      placeID                     hours                  days
1201   132774              07:00-22:00;                  Sat;
1817   132535  12:00-17:00;16:00-22:00;  Mon;Tue;Wed;Thu;Fri;
685    132948              08:00-12:00;                  Sat;
1212   132770              12:00-18:30;  Mon;Tue;Wed;Thu;Fri;
2274   132115        13:30-22:30;22:00;                  Sun;

In [18]:
chefmozhours4['days'].unique()

array(['Mon;Tue;Wed;Thu;Fri;', 'Sat;', 'Sun;'], dtype=object)

In [19]:
chefmozhours4['days'] = chefmozhours4['days'].replace(['Mon;Tue;Wed;Thu;Fri;'],'Diary_Days')

In [20]:
chefmozhours4['days'].unique()

array(['Diary_Days', 'Sat;', 'Sun;'], dtype=object)

## chefmozparking

placeID:  ID of the restaurant.

parking_lot: The type of parking that they has

In [21]:
chefmozparking.sample(10)

     placeID parking_lot
472   132703        none
49    135058      public
136   134971         yes
684   132161      street
448   132727         yes
596   132578        none
494   132681      public
104   135003         yes
202   132977        none
284   132893        none

In [22]:
chefmozparking['parking_lot'].unique()

array(['public', 'none', 'yes', 'valet parking', 'fee', 'street',
       'validated parking'], dtype=object)

In [23]:
chefmozparking['parking'] = chefmozparking['parking_lot']
chefmozparking['parking'] = chefmozparking['parking'].replace(['yes','public', 'valet parking','validated parking','fee'], 'yes')
chefmozparking['parking'] = chefmozparking['parking'].replace(['none','street'], 'no')

In [24]:
chefmozparking['parking'].unique()

array(['yes', 'no'], dtype=object)

## geoplaces2

placeID: ID of the restaurant.

latitude and longitude: The location of the restaurant

the_geom_meter:

name: Name of the restaurant

address: The Address of the Restaurant

city: City

state: State

country: Country

fax: ?

zip: The ZIP of the restaurant (CP in Spain)

alcohol: Type of alcohol that they serve

smoking_area: If they have a smoke zone

dress_code: If they has dress code or not

accessibility: I think it was if the restaurant have handicapped access

price: what type of price has the restaurant

url: web url

Rambience: ambience (familiar, quiet, noisy, etc)

franchise: if the restaurant is or not a franchise

area:

other_services:

In [25]:
geoplaces2.sample(5)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
122,132663,23.752511,-99.166954,0101000020957F0000FDF8D26EE08157C1FEDB6A1FDB4E...,tacos abi,?,victoria,tamaulipas,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none
23,132851,22.136872,-100.934574,0101000020957F0000C74DE39C7F4B58C1061F29171498...,KFC,?,San Luis Potosi,San Luis Potosi,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,familiar,f,closed,none
42,135046,22.141282,-101.002958,0101000020957F000011DFB4E3EE4858C13F78758452AB...,Restaurante El Reyecito,Agricultura 595 del Valle,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,reyecito.com,familiar,f,closed,none
86,132740,23.752197,-99.166632,0101000020957F000027A30471EE8157C1AC17D61EC84E...,Carreton de Flautas y Migadas,?,Ciudad Victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,low,?,familiar,f,open,none
45,132925,22.153500,-100.976243,0101000020957F00001EF62687CD4758C1BE336F4EFAA2...,el pueblito,?,?,?,?,?,...,Wine-Beer,not permitted,informal,completely,medium,?,familiar,f,closed,none

In [26]:
geoplaces2.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [27]:
geoplaces2['Rambience'].unique()

array(['familiar', 'quiet'], dtype=object)

In [28]:
geoplaces2['alcohol'].unique()

array(['No_Alcohol_Served', 'Wine-Beer', 'Full_Bar'], dtype=object)

In [29]:
geoplaces2['smoking_area'].unique()

array(['none', 'only at bar', 'permitted', 'section', 'not permitted'],
      dtype=object)

In [30]:
geoplaces2['have_smoking_area']=geoplaces2['smoking_area']
geoplaces2['have_smoking_area']=geoplaces2['have_smoking_area'].replace(['only at bar', 'permitted', 'section'],'yes')
geoplaces2['have_smoking_area']=geoplaces2['have_smoking_area'].replace(['none','not permitted'],'no')

In [31]:
geoplaces2['have_smoking_area'].unique()

array(['no', 'yes'], dtype=object)

In [32]:
geoplaces2['dress_code'].unique()

array(['informal', 'casual', 'formal'], dtype=object)

In [33]:
geoplaces2['accessibility'].unique()

array(['no_accessibility', 'completely', 'partially'], dtype=object)

In [34]:
geoplaces2['accessibility'] = geoplaces2['accessibility']
geoplaces2['accessibility'] = geoplaces2['accessibility'].replace(['completely', 'partially'],'yes_accessibility')

In [35]:
geoplaces2['price'].unique()

array(['medium', 'low', 'high'], dtype=object)

In [36]:
geoplaces2['franchise']=geoplaces2['franchise'].replace('t','no')
geoplaces2['franchise']=geoplaces2['franchise'].replace('f','yes')
geoplaces2['franchise'].unique()

array(['yes', 'no'], dtype=object)

In [37]:
geoplaces2['other_services'].unique()

array(['none', 'Internet', 'variety'], dtype=object)

In [38]:
geoplaces2['area'].unique()

array(['closed', 'open'], dtype=object)

In [39]:
rNamesDict = geoplaces2.set_index("placeID").to_dict().get('name')

In [40]:
rNamesDict[132560]

'puesto de gorditas'

## rating_final

In [41]:
rating_final.head(5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [42]:
rating_final['goodRating?'] = np.nan
rating_final['ratingMean'] = 0.00

In [43]:
import math
for i in range(len(rating_final)):
    sumarating = [rating_final['food_rating'][i],rating_final['service_rating'][i]]
    sumaratingMean = np.mean(sumarating)
    sumaratingRound = math.ceil(sumaratingMean)
    
    rating_final['goodRating?'][i] = rating_final['rating'][i]==sumaratingRound
    rating_final['ratingMean'][i] = sumaratingMean

/home/javier/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/javier/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/javier/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [44]:
rating_final.sample(5)

,userID,placeID,rating,food_rating,service_rating,goodRating?,ratingMean
288,U1124,135057,1,1,1,True,1.0
1119,U1050,132740,0,2,0,False,1.0
289,U1124,135039,1,1,1,True,1.0
32,U1031,132665,0,0,0,True,0.0
435,U1037,135054,2,1,1,False,1.0

In [45]:
rating_final[rating_final['goodRating?']==False].head()

,userID,placeID,rating,food_rating,service_rating,goodRating?,ratingMean
3,U1077,135060,1,2,2,False,2.0
4,U1068,135104,1,1,2,False,1.5
11,U1067,132732,1,2,2,False,2.0
14,U1067,132560,1,0,0,False,0.0
15,U1103,132584,1,2,1,False,1.5

In [46]:
len(rating_final[rating_final['goodRating?']==False])

307

 ## usercuisine

In [47]:
usercuisine.sample(5)

    userID          Rcuisine
307  U1135           Tibetan
311  U1135           Mexican
20   U1008    Latin_American
258  U1135           Tex-Mex
97   U1055  Breakfast-Brunch

In [48]:
usercuisine['Rcuisine'].unique()

array(['American', 'Mexican', 'Bakery', 'Breakfast-Brunch', 'Japanese',
       'Contemporary', 'Bagels', 'Cafe-Coffee_Shop',
       'Continental-European', 'Cafeteria', 'Family', 'Juice', 'Hawaiian',
       'Hot_Dogs', 'Latin_American', 'Korean', 'Italian', 'Diner',
       'Fast_Food', 'Deli-Sandwiches', 'Regional', 'Fusion', 'Portuguese',
       'Indian-Pakistani', 'Eastern_European', 'Lebanese', 'Moroccan',
       'Barbecue', 'Polynesian', 'Polish', 'Chinese', 'Pizzeria',
       'Burgers', 'Afghan', 'Middle_Eastern', 'Mongolian', 'Bar', 'Cuban',
       'Tex-Mex', 'Spanish', 'Soup', 'Sushi', 'Game', 'Doughnuts',
       'Australian', 'Asian', 'Dessert-Ice_Cream', 'Seafood', 'Turkish',
       'Organic-Healthy', 'Steaks', 'Mediterranean', 'British',
       'Austrian', 'Israeli', 'Russian-Ukrainian', 'Malaysian',
       'Vegetarian', 'Peruvian', 'Tapas', 'Eclectic', 'African', 'Basque',
       'Canadian', 'Irish', 'Southwestern', 'Tea_House', 'International',
       'Pacific_Northwest', 'German', 'Persian', 'Ethiopian', 'Romanian',
       'Cambodian', 'Pacific_Rim', 'Tunisian', 'Filipino', 'Dim_Sum',
       'Greek', 'Thai', 'Swiss', 'Cajun-Creole', 'Armenian', 'Indigenous',
       'Bar_Pub_Brewery', 'Caribbean', 'Indonesian', 'Hungarian',
       'Dutch-Belgian', 'Kosher', 'Fine_Dining', 'Jamaican', 'Tibetan',
       'Southeast_Asian', 'Burmese', 'California', 'Scandinavian',
       'Chilean', 'North_African', 'Vietnamese', 'French', 'Brazilian',
       'Southern'], dtype=object)

In [49]:
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine']
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['French','Spanish','Italian','Seafood','Greek','Mediterranean','Portuguese','Lebanese', 'Moroccan','Israeli','Tapas','Basque','Tunisian','Turkish','North_African'], 'Mediterranean')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Latin_American','Mexican','Brazilian','Caribbean','Chilean','Filipino','Cuban','Hawaiian','Peruvian','Jamaican','Southern','Regional','Indigenous'], 'South_American')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Fast_Food','Hot_Dogs','Burgers','Deli-Sandwiches','Pizzeria'], 'Fast_Food')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Asian','Mongolian','Chinese','Japanese','Sushi','Vietnamese', 'Korean','Thai','Indian-Pakistani','Tibetan','Southeast_Asian','Burmese','Dim_Sum','Malaysian','Cambodian'], 'Asian')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['German','Polish', 'Dutch-Belgian','Continental-European','Eastern_European','Irish','Hungarian','British','Romanian','Austrian','Scandinavian','Swiss','Russian-Ukrainian'], 'European')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Afghan','Armenian','Persian','Middle_Eastern'], 'Middle East')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['African','Ethiopian'], 'African')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Breakfast-Brunch','Bagels','Juice'], 'Breakfast')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Bar_Pub_Brewery','Bar'], 'Bar')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Cafeteria','Cafe-Coffee_Shop','Tea_House'], 'Coffee_Shop')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Fine_Dining','Organic-Healthy','Vegetarian'], 'Healthy-Vegetarian')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['American','California','Southwestern','Canadian','Cajun-Creole','Pacific_Northwest','Tex-Mex'], 'North_American')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Steaks','Barbecue'], 'Meat')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Dessert-Ice_Cream'], 'Ice_Cream')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Doughnuts','Bakery'], 'Bakery')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Contemporary','Fusion','Eclectic'], 'Contemporary')
usercuisine['Rcuisine_Type'] = usercuisine['Rcuisine_Type'].replace(['Australian','Polynesian','Indonesian','Pacific_Rim'], 'Australian')

In [50]:
print(len(usercuisine['Rcuisine'].unique()))
print(len(usercuisine['Rcuisine_Type'].unique()))

103
23

## userpayment

In [51]:
userpayment.sample(5)

    userID          Upayment
101  U1078              VISA
3    U1004              cash
82   U1066  bank_debit_cards
168  U1131              cash
15   U1013              cash

In [52]:
userpayment['Upayment_accepts'] = userpayment['Upayment']
userpayment['Upayment_accepts'] = userpayment['Upayment_accepts']\
             .replace(['VISA', 'MasterCard-Eurocard', 'American_Express',
                       'bank_debit_cards','Discover', 'Carte_Blanche',
                       'Diners_Club', 'Visa', 'Japan_Credit_Bureau'], ' credictCard')
userpayment['Upayment_accepts'] = userpayment['Upayment_accepts']\
             .replace(['gift_certificates'], 'checks')
userpayment['Upayment_accepts'] = userpayment['Upayment_accepts'].astype('category')

In [53]:
userpayment['Upayment'].unique()

array(['cash', 'bank_debit_cards', 'MasterCard-Eurocard', 'VISA',
       'American_Express'], dtype=object)

In [54]:
userpayment['Upayment_accepts'].unique()

[cash, credictCard]
Categories (2, object): [cash, credictCard]

## userprofile

In [55]:
userprofile.sample(5)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
121,U1122,22.169601,-100.991821,?,abstemious,?,?,?,?,?,1930,none,hard-worker,none,?,yellow,40,?,1.20
43,U1044,18.952980,-99.260789,true,social drinker,informal,family,car owner,married,kids,1969,variety,thrifty-protector,Catholic,professional,orange,85,medium,1.73
5,U1006,22.150000,-100.983000,true,social drinker,no preference,friends,car owner,single,independent,1989,variety,hard-worker,none,student,blue,75,medium,1.80
45,U1046,22.144415,-100.933097,false,social drinker,no preference,friends,car owner,single,independent,1990,retro,hard-worker,Catholic,student,black,82,medium,1.84
56,U1057,22.196624,-100.912170,true,casual drinker,formal,friends,public,single,independent,1989,technology,hunter-ostentatious,Catholic,student,yellow,69,medium,1.83

In [56]:
userprofile['hijos'].unique()

array(['independent', 'kids', '?', 'dependent'], dtype=object)

In [57]:
## We can join all data table of user, to do a fullUserInformation, with this maybe we can see all table better.
fullUserInformation = userprofile.merge(userpayment, on = 'userID', how ='left')
fullUserInformation = fullUserInformation.merge(usercuisine,on='userID', how = 'left')
fullUserInformation = fullUserInformation.merge(rating_final,on='userID', how = 'left')
fullUserInformation = fullUserInformation.merge(geoplaces2[['placeID','name']],on = 'placeID',how ='left')
fullUserInformation.sample(5)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,...,Upayment_accepts,Rcuisine,Rcuisine_Type,placeID,rating,food_rating,service_rating,goodRating?,ratingMean,name
2278,U1108,22.143524,-100.987562,false,abstemious,informal,solitary,public,single,independent,...,credictCard,Burgers,Fast_Food,132723,2,2,2,True,2.0,Gordas de morales
1197,U1066,18.890695,-99.157104,false,abstemious,informal,solitary,public,single,?,...,credictCard,Mexican,South_American,135013,1,2,2,False,2.0,Giovannis
1159,U1062,22.195826,-101.006317,false,casual drinker,informal,friends,car owner,single,independent,...,credictCard,Mexican,South_American,135052,0,0,0,True,0.0,La Cantina Restaurante
3558,U1135,22.170396,-100.949936,false,casual drinker,informal,family,on foot,single,kids,...,cash,American,North_American,135106,0,0,0,True,0.0,El Rinc�n de San Francisco
12,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,...,cash,Mexican,South_American,132825,2,2,0,False,1.0,puesto de tacos

In [58]:
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------

In [59]:
rRatingR = fullUserInformation.groupby(['placeID','name'])['rating'].agg(['median','mean','sum'])
rRatingMean = fullUserInformation.groupby(['placeID','name'])['ratingMean'].agg(['median','mean','sum'])
rRatingFood = fullUserInformation.groupby(['placeID','name'])['food_rating'].agg(['median','mean','sum'])
rRatingService = fullUserInformation.groupby(['placeID','name'])['service_rating'].agg(['median','mean','sum'])

In [60]:
rRatingSortRSum = rRatingR.sort_values(['sum'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRSum"})
rRatingSortRMedian = rRatingR.sort_values(['median'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRMedian"})
rRatingSortRMSum = rRatingMean.sort_values(['sum'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRMSum"})
rRatingSortRMMedian = rRatingMean.sort_values(['median'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRMMedian"})
rRatingSortFSum = rRatingFood.sort_values(['sum'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankFSum"})
rRatingSortFMedian = rRatingFood.sort_values(['median'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankFMedian"})
rRatingSortSSum = rRatingService.sort_values(['sum'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRSum"}).head()
rRatingSortSMedian = rRatingService.sort_values(['median'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankSMedian"})