In [1]:
from google.colab import files

uploaded = files.upload()

Saving chefmozaccepts.csv to chefmozaccepts.csv
Saving chefmozcuisine.csv to chefmozcuisine.csv
Saving chefmozhours4.csv to chefmozhours4.csv
Saving chefmozparking.csv to chefmozparking.csv
Saving geoplaces2.csv to geoplaces2.csv
Saving rating_final.csv to rating_final.csv
Saving README to README
Saving ReadMe.rtf to ReadMe.rtf
Saving usercuisine.csv to usercuisine.csv
Saving userpayment.csv to userpayment.csv
Saving userprofile.csv to userprofile.csv

In [118]:
! ls

chefmozaccepts.csv  chefmozparking.csv	README	     usercuisine.csv
chefmozcuisine.csv  geoplaces2.csv	ReadMe.rtf   userpayment.csv
chefmozhours4.csv   rating_final.csv	sample_data  userprofile.csv

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [0]:
chefmozacccepts = pd.read_csv("chefmozaccepts.csv")
chefmozcuisine = pd.read_csv("chefmozcuisine.csv")
chefmozhours4 = pd.read_csv("chefmozhours4.csv")
chefmozparking = pd.read_csv("chefmozparking.csv")
geoplaces2 = pd.read_csv("geoplaces2.csv")
rating_final = pd.read_csv("rating_final.csv")
usercuisine = pd.read_csv("usercuisine.csv")
userpayment = pd.read_csv("userpayment.csv")
userprofile = pd.read_csv("userprofile.csv")

## Chefmozaccepts
placeID: ID of the restaurant.

Rpayment: type of pay that the restaurant accept

In [121]:
chefmozacccepts.shape

(1314, 2)

In [122]:
chefmozacccepts.sample(5)

      placeID             Rpayment
656    132789     bank_debit_cards
718    132761                 VISA
706    132769                 cash
227    135008                 cash
1098   132396  Japan_Credit_Bureau

In [123]:
chefmozacccepts['Rpayment'].unique()

array(['cash', 'VISA', 'MasterCard-Eurocard', 'American_Express',
       'bank_debit_cards', 'checks', 'Discover', 'Carte_Blanche',
       'Diners_Club', 'Visa', 'Japan_Credit_Bureau', 'gift_certificates'],
      dtype=object)

In [124]:
chefmozacccepts['Rpayment'].unique().size

12

We have 12 type of payment, maybe we have to only use 2 or 3 of them, like cash, credictCard and checks.

In [0]:
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment']
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts']\
             .replace(['VISA', 'MasterCard-Eurocard', 'American_Express',
                       'bank_debit_cards','Discover', 'Carte_Blanche',
                       'Diners_Club', 'Visa', 'Japan_Credit_Bureau'], ' credictCard')
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts']\
             .replace(['gift_certificates'], 'checks')

In [0]:
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts'].astype('category')

## Chefmozcuisine

placeID: ID of the restaurant.

Rcuisine: The region of the food that they cook.

In [127]:
chefmozcuisine.sample(5)

     placeID       Rcuisine
881   132031    Fine_Dining
232   132903        Mexican
803   132186        Italian
338   132773        Mexican
632   132396  International

In [128]:
chefmozcuisine['Rcuisine'].unique()

array(['Spanish', 'Italian', 'Latin_American', 'Mexican', 'Fast_Food',
       'Burgers', 'Dessert-Ice_Cream', 'Hot_Dogs', 'Steaks', 'Asian',
       'International', 'Mongolian', 'Vegetarian', 'Brazilian',
       'Cafe-Coffee_Shop', 'Cafeteria', 'Contemporary', 'Deli-Sandwiches',
       'Diner', 'Japanese', 'Sushi', 'Seafood', 'Chinese', 'Bar',
       'Bar_Pub_Brewery', 'Pizzeria', 'Mediterranean', 'American',
       'Family', 'Caribbean', 'African', 'Breakfast-Brunch', 'Regional',
       'Afghan', 'Bakery', 'Game', 'Armenian', 'Vietnamese', 'Korean',
       'Thai', 'Barbecue', 'Polish', 'Dutch-Belgian', 'French', 'German',
       'Southwestern', 'Persian', 'Ethiopian', 'Juice', 'Soup',
       'Continental-European', 'Greek', 'Southern', 'Eastern_European',
       'California', 'Bagels', 'Turkish', 'Organic-Healthy',
       'Fine_Dining'], dtype=object)

In [0]:
# This doesn't make much sense, we can split the Clasification for have less dummy variables, but we will try make the recomendation with full data
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine']
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Spanish','Italian','Seafood','Greek','Mediterranean'], 'Mediterranean')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Latin_American','Mexican','Brazilian','Caribbean'], 'South_American')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Fast_Food','Hot_Dogs','Burgers','Deli-Sandwiches','Pizzeria'], 'Fast_Food')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Asian','Mongolian','Chinese','Japanese','Sushi','Vietnamese', 'Korean','Thai'], 'Asian')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['French', 'German','Polish', 'Dutch-Belgian','Continental-European','Eastern_European'], 'European')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Afghan','Armenian','Persian','Turkish'], 'Turkish')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['African','Ethiopian'], 'African')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Breakfast-Brunch','Bagels'], 'Breakfast')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Bar_Pub_Brewery','Bar'], 'Bar')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Cafeteria','Cafe-Coffee_Shop',''], 'Cafeteria')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Fine_Dining','Organic-Healthy','Vegetarian'], 'Healthy')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['American','California','Southwestern'], 'American')

In [130]:
chefmozcuisine['Rcuisine_Type'].unique()

array(['Mediterranean', 'South_American', 'Fast_Food',
       'Dessert-Ice_Cream', 'Steaks', 'Asian', 'International', 'Healthy',
       'Cafeteria', 'Contemporary', 'Diner', 'Bar', 'American', 'Family',
       'African', 'Breakfast', 'Regional', 'Turkish', 'Bakery', 'Game',
       'Barbecue', 'European', 'Juice', 'Soup', 'Southern'], dtype=object)

In [131]:
chefmozcuisine.sample(5)

     placeID       Rcuisine  Rcuisine_Type
780   132217        Italian  Mediterranean
594   132447  International  International
170   132968            Bar            Bar
357   132752      Cafeteria      Cafeteria
518   132550        Italian  Mediterranean

## chefmozhours4

placeID: ID of the restaurant.

hours: Hours that they open

days Days that they open

In [132]:
chefmozhours4.sample(5)

      placeID         hours  days
182    135047  08:00-22:00;  Sun;
631    132968  15:00-23:30;  Sat;
119    135068  00:00-00:00;  Sun;
2230   132157  21:30-13:00;  Sun;
350    134991  08:00-18:00;  Sun;

In [133]:
chefmozhours4['days'].unique()

array(['Mon;Tue;Wed;Thu;Fri;', 'Sat;', 'Sun;'], dtype=object)

In [0]:
chefmozhours4['days'] = chefmozhours4['days'].replace(['Mon;Tue;Wed;Thu;Fri;'],'Diary_Days')

In [135]:
chefmozhours4['days'].unique()

array(['Diary_Days', 'Sat;', 'Sun;'], dtype=object)

## chefmozparking

placeID:  ID of the restaurant.

parking_lot: The type of parking that they has

In [136]:
chefmozparking.sample(10)

     placeID        parking_lot
171   133013               none
223   132956               none
63    135044               none
672   132237                yes
56    135051               none
683   132164                fee
579   132595               none
556   132618             public
345   132832               none
670   132243  validated parking

In [137]:
chefmozparking['parking_lot'].unique()

array(['public', 'none', 'yes', 'valet parking', 'fee', 'street',
       'validated parking'], dtype=object)

In [0]:
chefmozparking['parking'] = chefmozparking['parking_lot']
chefmozparking['parking'] = chefmozparking['parking'].replace(['yes','public', 'valet parking','validated parking','fee'], 'yes')
chefmozparking['parking'] = chefmozparking['parking'].replace(['none','street'], 'yes')

## geoplaces2

placeID: ID of the restaurant.

latitude and longitude: The location of the restaurant

the_geom_meter:

name: Name of the restaurant

address: The Address of the Restaurant

city: City

state: State

country: Country

fax: ?

zip: The ZIP of the restaurant (CP in Spain)

alcohol: Type of alcohol that they serve

smoking_area: If they have a smoke zone

dress_code: If they has dress code or not

accessibility: I think it was if the restaurant have handicapped access

price: what type of price has the restaurant

url: web url

Rambience: ambience (familiar, quiet, noisy, etc)

franchise: if the restaurant is or not a franchise

area:

other_services:

In [150]:
geoplaces2.sample(5)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
49,135063,22.156724,-100.975556,0101000020957F000054B1A10F544758C15BD6A12797A2...,Restaurante Alhondiga,Alhondiga 62 Centro,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
12,135065,22.149580,-100.999557,0101000020957F000094A6A8E3C14758C17435E6D1DBA9...,El angel Restaurante,Venustiano Carranza 1625 Jardin,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,f,closed,none
71,135016,18.869347,-99.209944,0101000020957F0000FC8866CF17785AC14CD7055B0251...,Arrachela Grill,69 Tres De Mayo,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none
63,135051,22.151189,-100.977058,0101000020957F0000D6537C4C224858C1DED7F6EB58A3...,Restaurante Versalles,Francisco I. Madero 145 Centro,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,section,informal,no_accessibility,low,?,familiar,f,closed,none
13,135076,22.181017,-100.973614,0101000020957F00005657121FAA4358C1A8030D5598A0...,Restaurante Pueblo Bonito,Mexico 2015 Providencia,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none

In [152]:
geoplaces2.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [153]:
geoplaces2['Rambience'].unique()

array(['familiar', 'quiet'], dtype=object)

In [0]:
rNamesDict = geoplaces2.set_index("placeID").to_dict().get('name')

In [155]:
rNamesDict[132560]

'puesto de gorditas'

## rating_final

In [156]:
rating_final.head(5)

  userID  placeID  rating  food_rating  service_rating goodRating?  ratingMean
0  U1077   135085       2            2               2        True         2.0
1  U1077   135038       2            2               1        True         1.5
2  U1077   132825       2            2               2        True         2.0
3  U1077   135060       1            2               2       False         2.0
4  U1068   135104       1            1               2       False         1.5

In [0]:
rating_final['goodRating?'] = np.nan
rating_final['ratingMean'] = 0.00

In [158]:
import math
for i in range(len(rating_final)):
    sumarating = [rating_final['food_rating'][i],rating_final['service_rating'][i]]
    sumaratingMean = np.mean(sumarating)
    sumaratingRound = math.ceil(sumaratingMean)
    
    rating_final['goodRating?'][i] = rating_final['rating'][i]==sumaratingRound
    rating_final['ratingMean'][i] = sumaratingMean

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [159]:
rating_final.sample(5)

,userID,placeID,rating,food_rating,service_rating,goodRating?,ratingMean
853,U1027,132872,1,1,1,True,1.0
690,U1001,135039,1,1,1,True,1.0
1149,U1130,132706,1,2,1,False,1.5
345,U1116,135060,0,0,0,True,0.0
167,U1055,135051,1,2,2,False,2.0

In [160]:
rating_final[rating_final['goodRating?']==False].head()

,userID,placeID,rating,food_rating,service_rating,goodRating?,ratingMean
3,U1077,135060,1,2,2,False,2.0
4,U1068,135104,1,1,2,False,1.5
11,U1067,132732,1,2,2,False,2.0
14,U1067,132560,1,0,0,False,0.0
15,U1103,132584,1,2,1,False,1.5

In [161]:
len(rating_final[rating_final['goodRating?']==False])

307

 ## usercuisine

In [162]:
usercuisine.sample(5)

    userID          Rcuisine
238  U1135         Malaysian
83   U1044           Mexican
264  U1135  Indian-Pakistani
254  U1135             Irish
98   U1056           Mexican

## userpayment

In [163]:
userpayment.sample(5)

    userID          Upayment
15   U1013              cash
170  U1133  bank_debit_cards
74   U1061              cash
49   U1041              VISA
59   U1048              cash

## userprofile

In [164]:
userprofile.sample(5)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
55,U1056,22.168997,-100.974376,false,social drinker,informal,family,on foot,single,independent,1930,none,hard-worker,Catholic,student,yellow,61,medium,1.62
15,U1016,22.156247,-100.977402,false,casual drinker,informal,friends,on foot,single,independent,1991,eco-friendly,thrifty-protector,Catholic,student,green,70,medium,1.67
109,U1110,18.871678,-99.183263,false,abstemious,no preference,family,car owner,single,independent,1993,variety,thrifty-protector,Catholic,student,red,85,medium,1.75
70,U1071,22.154339,-100.975342,false,abstemious,formal,friends,car owner,single,independent,1930,none,hunter-ostentatious,none,student,blue,40,high,1.73
122,U1123,23.753112,-99.168567,false,abstemious,informal,family,?,single,independent,1987,technology,hard-worker,Catholic,student,green,110,medium,1.75

In [165]:
userprofile['hijos'].unique()

array(['independent', 'kids', '?', 'dependent'], dtype=object)

In [166]:
## We can join all data table of user, to do a fullUserInformation, with this maybe we can see all table better.
fullUserInformation = userprofile.merge(userpayment, on = 'userID', how ='left')
fullUserInformation = fullUserInformation.merge(usercuisine,on='userID', how = 'left')
fullUserInformation = fullUserInformation.merge(rating_final,on='userID', how = 'left')
fullUserInformation = fullUserInformation.merge(geoplaces2[['placeID','name']],on = 'placeID',how ='left')
fullUserInformation.sample(5)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,...,height,Upayment,Rcuisine,placeID,rating,food_rating,service_rating,goodRating?,ratingMean,name
3283,U1135,22.170396,-100.949936,false,casual drinker,informal,family,on foot,single,kids,...,1.54,cash,Pacific_Northwest,135058,0,0,0,True,0.0,Restaurante Tiberius
448,U1016,22.156247,-100.977402,false,casual drinker,informal,friends,on foot,single,independent,...,1.67,cash,Cafe-Coffee_Shop,135045,2,2,2,True,2.0,Restaurante la Gran Via
1964,U1108,22.143524,-100.987562,false,abstemious,informal,solitary,public,single,independent,...,1.81,VISA,Cafeteria,135028,1,1,1,True,1.0,La Virreina
4122,U1136,22.149607,-100.997235,true,social drinker,no preference,friends,car owner,single,independent,...,1.60,cash,Mexican,135064,1,1,1,True,1.0,Restaurante El Chivero S.A. de C.V.
277,U1008,22.122989,-100.923811,false,social drinker,formal,solitary,public,single,independent,...,1.72,cash,Cafeteria,132866,1,1,1,True,1.0,Chaires

In [0]:
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------

In [0]:
rRatingR = fullUserInformation.groupby(['placeID','name'])['rating'].agg(['median','mean','sum'])
rRatingMean = fullUserInformation.groupby(['placeID','name'])['ratingMean'].agg(['median','mean','sum'])
rRatingFood = fullUserInformation.groupby(['placeID','name'])['food_rating'].agg(['median','mean','sum'])
rRatingService = fullUserInformation.groupby(['placeID','name'])['service_rating'].agg(['median','mean','sum'])

In [169]:
rRating.head()

,RankRSum,placeID,name,median_R,mean_R,sum_R,RankRMedian,median_RM,mean_RM,sum_RM
0,0,135032,Cafeteria y Restaurant El Pacifico,1.0,0.982833,229,51,1.0,0.982833,229
1,1,135085,Tortas Locas Hipocampo,0.5,0.692661,151,106,0.5,0.692661,151
2,2,135075,Mariscos El Pescador,2.0,1.914286,134,33,2.0,1.914286,134
3,3,132723,Gordas de morales,2.0,1.893939,125,29,2.0,1.893939,125
4,4,135074,Restaurante la Parroquia Potosina,2.0,1.982456,113,34,2.0,1.982456,113

In [0]:
rRatingSortRSum = rRatingR.sort_values(['sum'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRSum"})
rRatingSortRMedian = rRatingR.sort_values(['median'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRMedian"})
rRatingSortRMSum = rRatingMean.sort_values(['sum'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRMSum"})
rRatingSortRMMedian = rRatingMean.sort_values(['median'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRMMedian"})
rRatingSortFSum = rRatingFood.sort_values(['sum'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankFSum"})
rRatingSortFMedian = rRatingFood.sort_values(['median'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankFMedian"})
rRatingSortSSum = rRatingService.sort_values(['sum'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankRSum"}).head()
rRatingSortSMedian = rRatingService.sort_values(['median'], ascending=False).reset_index().reset_index().rename(index=str, columns={"index": "RankSMedian"})