In [1]:
from google.colab import files

uploaded = files.upload()

Saving chefmozaccepts.csv to chefmozaccepts.csv
Saving chefmozcuisine.csv to chefmozcuisine.csv
Saving chefmozhours4.csv to chefmozhours4.csv
Saving chefmozparking.csv to chefmozparking.csv
Saving geoplaces2.csv to geoplaces2.csv
Saving rating_final.csv to rating_final.csv
Saving README to README
Saving ReadMe.rtf to ReadMe.rtf
Saving usercuisine.csv to usercuisine.csv
Saving userpayment.csv to userpayment.csv
Saving userprofile.csv to userprofile.csv

In [2]:
! ls

chefmozaccepts.csv  chefmozparking.csv	README	     usercuisine.csv
chefmozcuisine.csv  geoplaces2.csv	ReadMe.rtf   userpayment.csv
chefmozhours4.csv   rating_final.csv	sample_data  userprofile.csv

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [0]:
chefmozacccepts = pd.read_csv("chefmozaccepts.csv")
chefmozcuisine = pd.read_csv("chefmozcuisine.csv")
chefmozhours4 = pd.read_csv("chefmozhours4.csv")
chefmozparking = pd.read_csv("chefmozparking.csv")
geoplaces2 = pd.read_csv("geoplaces2.csv")
rating_final = pd.read_csv("rating_final.csv")
usercuisine = pd.read_csv("usercuisine.csv")
userpayment = pd.read_csv("userpayment.csv")
userprofile = pd.read_csv("userprofile.csv")

## Chefmozaccepts
placeID: ID of the restaurant.

Rpayment: type of pay that the restaurant accept

In [4]:
chefmozacccepts.shape

(1314, 2)

In [5]:
chefmozacccepts.sample(5)

      placeID             Rpayment
556    132854     bank_debit_cards
1189   132231  MasterCard-Eurocard
1042   132488     American_Express
1217   132207                 Visa
455    132917     bank_debit_cards

In [6]:
chefmozacccepts['Rpayment'].unique()

array(['cash', 'VISA', 'MasterCard-Eurocard', 'American_Express',
       'bank_debit_cards', 'checks', 'Discover', 'Carte_Blanche',
       'Diners_Club', 'Visa', 'Japan_Credit_Bureau', 'gift_certificates'],
      dtype=object)

In [7]:
chefmozacccepts['Rpayment'].unique().size

12

We have 12 type of payment, maybe we have to only use 2 or 3 of them, like cash, credictCard and checks.

In [0]:
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment']
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts']\
             .replace(['VISA', 'MasterCard-Eurocard', 'American_Express',
                       'bank_debit_cards','Discover', 'Carte_Blanche',
                       'Diners_Club', 'Visa', 'Japan_Credit_Bureau'], ' credictCard')
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts']\
             .replace(['gift_certificates'], 'checks')

In [0]:
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts'].astype('category')

## Chefmozcuisine

placeID: ID of the restaurant.

Rcuisine: The region of the food that they cook.

In [10]:
chefmozcuisine.sample(5)

     placeID       Rcuisine
241   132893        Mexican
429   132670        Mexican
757   132237       Japanese
280   132843        Mexican
575   132474  International

In [11]:
chefmozcuisine['Rcuisine'].unique()

array(['Spanish', 'Italian', 'Latin_American', 'Mexican', 'Fast_Food',
       'Burgers', 'Dessert-Ice_Cream', 'Hot_Dogs', 'Steaks', 'Asian',
       'International', 'Mongolian', 'Vegetarian', 'Brazilian',
       'Cafe-Coffee_Shop', 'Cafeteria', 'Contemporary', 'Deli-Sandwiches',
       'Diner', 'Japanese', 'Sushi', 'Seafood', 'Chinese', 'Bar',
       'Bar_Pub_Brewery', 'Pizzeria', 'Mediterranean', 'American',
       'Family', 'Caribbean', 'African', 'Breakfast-Brunch', 'Regional',
       'Afghan', 'Bakery', 'Game', 'Armenian', 'Vietnamese', 'Korean',
       'Thai', 'Barbecue', 'Polish', 'Dutch-Belgian', 'French', 'German',
       'Southwestern', 'Persian', 'Ethiopian', 'Juice', 'Soup',
       'Continental-European', 'Greek', 'Southern', 'Eastern_European',
       'California', 'Bagels', 'Turkish', 'Organic-Healthy',
       'Fine_Dining'], dtype=object)

In [0]:
# This doesn't make much sense, we can split the Clasification for have less dummy variables, but we will try make the recomendation with full data
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine']
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Spanish','Italian','Seafood','Greek','Mediterranean'], 'Mediterranean')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Latin_American','Mexican','Brazilian','Caribbean'], 'South_American')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Fast_Food','Hot_Dogs','Burgers','Deli-Sandwiches','Pizzeria'], 'Fast_Food')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Asian','Mongolian','Chinese','Japanese','Sushi','Vietnamese', 'Korean','Thai'], 'Asian')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['French', 'German','Polish', 'Dutch-Belgian','Continental-European','Eastern_European'], 'European')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Afghan','Armenian','Persian','Turkish'], 'Turkish')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['African','Ethiopian'], 'African')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Breakfast-Brunch','Bagels'], 'Breakfast')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Bar_Pub_Brewery','Bar'], 'Bar')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Cafeteria','Cafe-Coffee_Shop',''], 'Cafeteria')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Fine_Dining','Organic-Healthy','Vegetarian'], 'Healthy')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['American','California','Southwestern'], 'American')

In [13]:
chefmozcuisine['Rcuisine_Type'].unique()

array(['Mediterranean', 'South_American', 'Fast_Food',
       'Dessert-Ice_Cream', 'Steaks', 'Asian', 'International', 'Healthy',
       'Cafeteria', 'Contemporary', 'Diner', 'Bar', 'American', 'Family',
       'African', 'Breakfast', 'Regional', 'Turkish', 'Bakery', 'Game',
       'Barbecue', 'European', 'Juice', 'Soup', 'Southern'], dtype=object)

In [14]:
chefmozcuisine.sample(5)

     placeID       Rcuisine   Rcuisine_Type
312   132791        Mexican  South_American
456   132632        Mexican  South_American
798   132192  Dutch-Belgian        European
610   132434  Dutch-Belgian        European
22    135099     Vegetarian         Healthy

## chefmozhours4

placeID: ID of the restaurant.

hours: Hours that they open

days Days that they open

In [15]:
chefmozhours4.sample(5)

      placeID               hours                  days
1242   132757        17:00-23:30;  Mon;Tue;Wed;Thu;Fri;
1998   132372  08:00-23:00;12:00;                  Sun;
683    132950        00:00-23:30;                  Sun;
1469   132682        00:00-23:30;                  Sun;
1855   132498        08:00-23:30;  Mon;Tue;Wed;Thu;Fri;

In [16]:
chefmozhours4['days'].unique()

array(['Mon;Tue;Wed;Thu;Fri;', 'Sat;', 'Sun;'], dtype=object)

In [0]:
chefmozhours4['days'] = chefmozhours4['days'].replace(['Mon;Tue;Wed;Thu;Fri;'],'Diary_Days')

In [18]:
chefmozhours4['days'].unique()

array(['Diary_Days', 'Sat;', 'Sun;'], dtype=object)

## chefmozparking

placeID:  ID of the restaurant.

parking_lot: The type of parking that they has

In [19]:
chefmozparking.sample(10)

     placeID    parking_lot
410   132765           none
504   132671           none
8     135103  valet parking
359   132818            fee
160   133024           none
624   132521            fee
193   132986           none
46    135061            yes
115   134992            yes
295   132882           none

In [20]:
chefmozparking['parking_lot'].unique()

array(['public', 'none', 'yes', 'valet parking', 'fee', 'street',
       'validated parking'], dtype=object)

In [0]:
chefmozparking['parking'] = chefmozparking['parking_lot']
chefmozparking['parking'] = chefmozparking['parking'].replace(['yes','public', 'valet parking','validated parking','fee'], 'yes')
chefmozparking['parking'] = chefmozparking['parking'].replace(['none','street'], 'yes')

## geoplaces2

placeID: ID of the restaurant.

latitude and longitude: The location of the restaurant

the_geom_meter:

name: Name of the restaurant

address: The Address of the Restaurant

city: City

state: State

country: Country

fax: ?

zip: The ZIP of the restaurant (CP in Spain)

alcohol: Type of alcohol that they serve

smoking_area: If they have a smoke zone

dress_code: If they has dress code or not

accessibility: I think it was if the restaurant have handicapped access

price: what type of price has the restaurant

url: web url

Rambience: ambience (familiar, quiet, noisy, etc)

franchise: if the restaurant is or not a franchise

area:

other_services:

In [22]:
geoplaces2.sample(5)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
47,135059,22.145108,-100.989547,0101000020957F000005810F19B84858C136805B2745A7...,Restaurant Bar Hacienda los Martinez,Santos Degollado 745 los Alamitos,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,section,informal,no_accessibility,medium,?,familiar,f,closed,none
41,132608,23.758805,-99.165130,0101000020957F0000A15C8F5FF78057C1C93CEA9E0A4E...,Hamburguesas La perica,cd. mier,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,low,?,quiet,t,open,none
48,135001,18.941859,-99.241927,0101000020957F0000429477F3B36B5AC1D65C45CAFA56...,Vips,Emiliano Zapata No. 825 Tlaltenongo,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,none,informal,completely,medium,?,familiar,t,closed,none
91,134987,18.932725,-99.225211,0101000020957F0000FE987FAF936D5AC1E1D486215E52...,Chilis Cuernavaca,Rio Mayo Colonia Vista Hermosa Esq. Rio Balsas,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,medium,chilis.com.mx,familiar,f,closed,none
73,132630,23.752930,-99.164473,0101000020957F000047206572DE8157C1D3315028254E...,palomo tec,blvrd emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,closed,none

In [23]:
geoplaces2.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [24]:
geoplaces2['Rambience'].unique()

array(['familiar', 'quiet'], dtype=object)

In [0]:
rNamesDict = geoplaces2.set_index("placeID").to_dict().get('name')

In [40]:
rNamesDict

{132560: 'puesto de gorditas',
 132561: 'cafe ambar',
 132564: 'churchs',
 132572: 'Cafe Chaires',
 132583: 'McDonalds Centro',
 132584: 'Gorditas Dona Tota',
 132594: 'tacos de barbacoa enfrente del Tec',
 132608: 'Hamburguesas La perica',
 132609: 'Pollo_Frito_Buenos_Aires',
 132613: 'carnitas_mata',
 132626: 'la perica hamburguesa',
 132630: 'palomo tec',
 132654: 'Carnitas Mata  Calle 16 de Septiembre',
 132660: 'carnitas mata calle Emilio Portes Gil',
 132663: 'tacos abi',
 132665: 'TACOS CORRECAMINOS',
 132667: 'little pizza Emilio Portes Gil',
 132668: 'TACOS EL GUERO',
 132706: 'Gorditas Dona Tota',
 132715: 'tacos de la estacion',
 132717: 'tortas hawai',
 132723: 'Gordas de morales',
 132732: 'Taqueria EL amigo ',
 132733: 'Little Cesarz',
 132740: 'Carreton de Flautas y Migadas',
 132754: 'Cabana Huasteca',
 132755: 'La Estrella de Dimas',
 132766: 'Mikasa',
 132767: 'Restaurant Familiar El Chino',
 132768: 'Mariscos Tia Licha',
 132773: 'El cotorreo',
 132825: 'puesto de tacos',
 132830: 'Rincon Huasteco',
 132834: 'Gorditas Doa Gloria',
 132845: 'Cenaduria El Rincón de Tlaquepaque',
 132846: 'el lechon potosino ',
 132847: 'don burguers',
 132851: 'KFC',
 132854: 'Sirlone',
 132856: 'Unicols Pizza',
 132858: 'Hamburguesas Valle Dorado',
 132861: 'Carls Jr',
 132862: 'La Posada del Virrey',
 132866: 'Chaires',
 132869: 'Dominos Pizza',
 132870: 'Tortas y hamburguesas el gordo',
 132872: 'Pizzeria Julios',
 132875: 'shi ro ie',
 132877: 'sirloin stockade',
 132884: 'dairy queen',
 132885: 'Hamburguesas saul',
 132921: 'crudalia',
 132922: 'cafe punta del cielo',
 132925: 'el pueblito',
 132937: 'rockabilly ',
 132951: 'VIPS',
 132954: 'la parroquia',
 132955: 'emilianos',
 132958: 'tacos los volcanes',
 134975: 'Rincon del Bife',
 134976: 'Log Yin',
 134983: 'Restaurant and Bar and Clothesline Carlos N Charlies',
 134986: 'Restaurant Las Mananitas',
 134987: 'Chilis Cuernavaca',
 134992: 'Restaurant Teely',
 134996: 'Sanborns Casa Piedra',
 134999: 'Kiku Cuernavaca',
 135000: 'Restaurant los Pinos',
 135001: 'Vips',
 135011: 'Los Vikingos',
 135013: 'Giovannis',
 135016: 'Arrachela Grill',
 135018: 'El Oceano Dorado',
 135019: 'Restaurant Bar Coty y Pablo',
 135021: 'Subway',
 135025: 'El Rincon de San Francisco',
 135026: 'la Cantina',
 135027: 'Restaurant Orizatlan',
 135028: 'La Virreina',
 135030: 'Preambulo Wifi Zone Cafe',
 135032: 'Cafeteria y Restaurant El Pacifico',
 135033: 'Restaurant El Muladar de Calzada',
 135034: 'Michiko Restaurant Japones',
 135035: 'El Mundo de la Pasta',
 135038: 'Restaurant la Chalita',
 135039: 'Restaurant de Mariscos de Picon',
 135040: 'Restaurant los Compadres',
 135041: 'Luna Cafe',
 135042: 'Restaurant Oriental Express',
 135043: 'pizza clasica',
 135044: 'Restaurant Wu Zhuo Yi',
 135045: 'Restaurante la Gran Via',
 135046: 'Restaurante El Reyecito',
 135047: 'Restaurante Casa de las Flores',
 135048: 'Restaurante Bar Fu-hao',
 135049: 'Restaurante de Mariscos la Langosta',
 135050: 'Restaurante la Estrella de Dima',
 135051: 'Restaurante Versalles',
 135052: 'La Cantina Restaurante',
 135053: 'La Fontana Pizza Restaurante and Cafe',
 135054: 'Restaurante y Pescaderia Tampico',
 135055: 'la Cochinita Pibil Restaurante Yucateco',
 135057: 'El Herradero Restaurante and Bar',
 135058: 'Restaurante Tiberius',
 135059: 'Restaurant Bar Hacienda los Martinez',
 135060: 'Restaurante Marisco Sam',
 135062: 'Restaurante El Cielo Potosino',
 135063: 'Restaurante Alhondiga',
 135064: 'Restaurante El Chivero S.A. de C.V.',
 135065: 'El angel Restaurante',
 135066: 'Restaurante Guerra',
 135069: 'Abondance Restaurante Bar',
 135070: 'Restaurante 75',
 135071: 'Restaurante la Cantina',
 135072: 'Sushi Itto',
 135073: 'Restaurante Bar El Gallinero',
 135074: 'Restaurante la Parroquia Potosina',
 135075: 'Mariscos El Pescador',
 135076: 'Restaurante Pueblo Bonito',
 135079: 'Koye Sushi',
 135080: 'los Toneles',
 135081: 'El Club',
 135082: 'la Estrella de Dimas',
 135085: 'Tortas Locas Hipocampo',
 135086: 'Mcdonalds Parque Tangamanga',
 135088: 'Cafeteria cenidet',
 135104: 'vips',
 135106: 'El Rinc�n de San Francisco',
 135108: 'Potzocalli',
 135109: 'Paniroles'}

## rating_final

In [25]:
rating_final.head(5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [0]:
rating_final['goodRating?'] = np.nan
rating_final['ratingMean'] = 0.00

In [27]:
import math
for i in range(len(rating_final)):
    sumarating = [rating_final['food_rating'][i],rating_final['service_rating'][i]]
    sumaratingMean = np.mean(sumarating)
    sumaratingRound = math.ceil(sumaratingMean)
    
    rating_final['goodRating?'][i] = rating_final['rating'][i]==sumaratingRound
    rating_final['ratingMean'][i] = sumaratingMean

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
rating_final[rating_final['goodRating?']==False].head()

,userID,placeID,rating,food_rating,service_rating,goodRating?,ratingMean
3,U1077,135060,1,2,2,False,2.0
4,U1068,135104,1,1,2,False,1.5
11,U1067,132732,1,2,2,False,2.0
14,U1067,132560,1,0,0,False,0.0
15,U1103,132584,1,2,1,False,1.5

In [35]:
len(rating_final[rating_final['goodRating?']==False])

307

 ## usercuisine

In [30]:
usercuisine.sample(5)

    userID   Rcuisine
223  U1134    Mexican
295  U1135   Lebanese
197  U1111    Mexican
135  U1081    Mexican
184  U1108  Fast_Food

## userpayment

In [31]:
userpayment.sample(5)

    userID          Upayment
7    U1007              cash
108  U1083              cash
28   U1026              cash
138  U1107  bank_debit_cards
56   U1045              cash

## userprofile

In [32]:
userprofile.sample(5)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
27,U1028,23.752874,-99.169242,false,abstemious,no preference,family,public,single,independent,1989,variety,hard-worker,Christian,student,blue,77,medium,1.63
63,U1064,22.139511,-100.957002,false,casual drinker,formal,solitary,public,single,independent,1991,variety,hunter-ostentatious,none,student,blue,94,medium,1.77
107,U1108,22.143524,-100.987562,false,abstemious,informal,solitary,public,single,independent,1983,technology,thrifty-protector,Catholic,student,blue,76,medium,1.81
31,U1032,22.169184,-100.986843,false,abstemious,formal,family,public,single,independent,1989,variety,hard-worker,Catholic,student,blue,40,medium,1.75
14,U1015,22.126760,-100.905209,true,social drinker,informal,family,public,single,independent,1989,technology,thrifty-protector,Catholic,student,black,87,medium,1.67

In [33]:
userprofile['hijos'].unique()

array(['independent', 'kids', '?', 'dependent'], dtype=object)

In [63]:
## We can join all data table of user, to do a fullUserInformation, with this maybe we can see all table better.
fullUserInformation = userprofile.merge(userpayment, on = 'userID', how ='left')
fullUserInformation = fullUserInformation.merge(usercuisine,on='userID', how = 'left')
fullUserInformation = fullUserInformation.merge(rating_final,on='userID', how = 'left')
fullUserInformation=fullUserInformation.merge(geoplaces2[['placeID','name']],on = 'placeID',how ='left')
fullUserInformation.sample(5)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,...,height,Upayment,Rcuisine,placeID,rating,food_rating,service_rating,goodRating?,ratingMean,name
2007,U1108,22.143524,-100.987562,false,abstemious,informal,solitary,public,single,independent,...,1.81,VISA,Seafood,135086,1,1,0,True,0.5,Mcdonalds Parque Tangamanga
2949,U1135,22.170396,-100.949936,false,casual drinker,informal,family,on foot,single,kids,...,1.54,cash,Vegetarian,132856,0,0,0,True,0.0,Unicols Pizza
1100,U1060,23.715238,-99.158864,false,casual drinker,formal,family,public,single,independent,...,1.84,cash,Fast_Food,132717,2,2,2,True,2.0,tortas hawai
2488,U1117,18.875641,-99.220737,false,abstemious,no preference,friends,public,single,independent,...,1.60,cash,Turkish,135000,1,1,1,True,1.0,Restaurant los Pinos
156,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,...,1.53,bank_debit_cards,Cafe-Coffee_Shop,135032,2,2,2,True,2.0,Cafeteria y Restaurant El Pacifico

In [0]:
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------
#-------------------------------------------------------------------------------

In [0]:
rRating = fullUserInformation.groupby(['placeID','name'])['rating','ratingMean','food_rating','service_rating'].agg(['mean','sum'])

In [73]:
rRating.sort_values([('rating', 'sum')], ascending=False)

                                                 rating      ratingMean  \
                                                   mean  sum       mean
placeID name
135032  Cafeteria y Restaurant El Pacifico     0.982833  229   0.821888
135085  Tortas Locas Hipocampo                 0.692661  151   0.743119
135075  Mariscos El Pescador                   1.914286  134   1.900000
132723  Gordas de morales                      1.893939  125   1.863636
135074  Restaurante la Parroquia Potosina      1.982456  113   1.517544
135028  La Virreina                            0.595745  112   0.571809
135052  La Cantina Restaurante                 0.647059  110   0.511765
135060  Restaurante Marisco Sam                0.517045   91   0.528409
135062  Restaurante El Cielo Potosino          1.648148   89   1.462963
135051  Restaurante Versalles                  1.818182   80   1.125000
135058  Restaurante Tiberius                   0.437158   80   0.442623
135038  Restaurant la Chalita                  1.509434   80   1.349057
132834  Gorditas Doa Gloria                    0.484277   77   0.481132
135106  El Rinc�n de San Francisco             0.477987   76   0.477987
132572  Cafe Chaires                           1.014085   72   1.387324
135046  Restaurante El Reyecito                1.059701   71   1.402985
132862  La Posada del Virrey                   1.692308   66   1.602564
132825  puesto de tacos                        0.421053   64   0.361842
135086  Mcdonalds Parque Tangamanga            0.969231   63   0.553846
132856  Unicols Pizza                          0.375839   56   0.365772
135045  Restaurante la Gran Via                0.378788   50   0.363636
135066  Restaurante Guerra                     1.750000   49   1.571429
132954  la parroquia                           1.483871   46   1.387097
132955  emilianos                              2.000000   46   1.956522
132958  tacos los volcanes                     1.916667   46   1.875000
135042  Restaurant Oriental Express            0.328571   46   0.396429
132733  Little Cesarz                          1.708333   41   1.437500
135027  Restaurant Orizatlan                   1.250000   35   1.125000
135041  Luna Cafe                              0.244755   35   0.241259
135039  Restaurant de Mariscos de Picon        1.166667   35   1.033333
...                                                 ...  ...        ...
135011  Los Vikingos                           1.333333    8   1.333333
132583  McDonalds Centro                       1.000000    8   1.250000
132847  don burguers                           1.000000    7   1.000000
132626  la perica hamburguesa                  1.400000    7   1.200000
135035  El Mundo de la Pasta                   1.400000    7   1.400000
135082  la Estrella de Dimas                   0.636364    7   0.590909
135104  vips                                   0.875000    7   1.125000
132667  little pizza Emilio Portes Gil         1.200000    6   1.700000
132608  Hamburguesas La perica                 1.000000    6   1.000000
134987  Chilis Cuernavaca                      0.750000    6   0.625000
135016  Arrachela Grill                        1.200000    6   1.400000
132665  TACOS CORRECAMINOS                     0.857143    6   0.928571
132732  Taqueria EL amigo                      0.555556    5   0.944444
132885  Hamburguesas saul                      0.625000    5   0.562500
132925  el pueblito                            0.625000    5   0.750000
135044  Restaurant Wu Zhuo Yi                  1.250000    5   1.125000
135049  Restaurante de Mariscos la Langosta    1.000000    5   0.800000
132561  cafe ambar                             0.800000    4   1.000000
132845  Cenaduria El Rincón de Tlaquepaque     0.666667    4   0.583333
132663  tacos abi                              0.500000    4   0.562500
135033  Restaurant El Muladar de Calzada       0.800000    4   1.100000
132609  Pollo_Frito_Buenos_Aires               0.600000    3   0.600000
132594  tacos de barbacoa enfrente del Tec     0.600000    3   0.900000
132766  Mikasa                                 0.600000    3   0.700000
132706  Gorditas Dona Tota                     0.600000    3   1.100000
132870  Tortas y hamburguesas el gordo         0.600000    3   0.700000
132877  sirloin stockade                       0.750000    3   0.875000
132560  puesto de gorditas                     0.500000    2   0.625000
132654  Carnitas Mata  Calle 16 de Septiembre  0.200000    1   0.200000
135040  Restaurant los Compadres               0.250000    1   0.250000

                                                     food_rating       \
                                                 sum        mean  sum
placeID name
135032  Cafeteria y Restaurant El Pacifico     191.5    0.738197  172
135085  Tortas Locas Hipocampo                 162.0    0.958716  209
135075  Mariscos El Pescador                   133.0    1.928571  135
132723  Gordas de morales                      123.0    1.878788  124
135074  Restaurante la Parroquia Potosina       86.5    1.982456  113
135028  La Virreina                            107.5    0.579787  109
135052  La Cantina Restaurante                  87.0    0.529412   90
135060  Restaurante Marisco Sam                 93.0    0.517045   91
135062  Restaurante El Cielo Potosino           79.0    1.648148   89
135051  Restaurante Versalles                   49.5    1.136364   50
135058  Restaurante Tiberius                    81.0    0.426230   78
135038  Restaurant la Chalita                   71.5    1.566038   83
132834  Gorditas Doa Gloria                     76.5    0.528302   84
135106  El Rinc�n de San Francisco              76.0    0.477987   76
132572  Cafe Chaires                            98.5    1.774648  126
135046  Restaurante El Reyecito                 94.0    1.850746  124
132862  La Posada del Virrey                    62.5    1.512821   59
132825  puesto de tacos                         55.0    0.434211   66
135086  Mcdonalds Parque Tangamanga             36.0    0.938462   61
132856  Unicols Pizza                           54.5    0.342282   51
135045  Restaurante la Gran Via                 48.0    0.363636   48
135066  Restaurante Guerra                      44.0    1.464286   41
132954  la parroquia                            43.0    1.354839   42
132955  emilianos                               45.0    1.956522   45
132958  tacos los volcanes                      45.0    1.875000   45
135042  Restaurant Oriental Express             55.5    0.407143   57
132733  Little Cesarz                           34.5    1.208333   29
135027  Restaurant Orizatlan                    31.5    1.178571   33
135041  Luna Cafe                               34.5    0.258741   37
135039  Restaurant de Mariscos de Picon         31.0    1.100000   33
...                                              ...         ...  ...
135011  Los Vikingos                             8.0    1.333333    8
132583  McDonalds Centro                        10.0    1.250000   10
132847  don burguers                             7.0    1.428571   10
132626  la perica hamburguesa                    6.0    1.200000    6
135035  El Mundo de la Pasta                     7.0    1.400000    7
135082  la Estrella de Dimas                     6.5    0.636364    7
135104  vips                                     9.0    1.500000   12
132667  little pizza Emilio Portes Gil           8.5    2.000000   10
132608  Hamburguesas La perica                   6.0    1.166667    7
134987  Chilis Cuernavaca                        5.0    0.500000    4
135016  Arrachela Grill                          7.0    1.600000    8
132665  TACOS CORRECAMINOS                       6.5    0.857143    6
132732  Taqueria EL amigo                        8.5    0.777778    7
132885  Hamburguesas saul                        4.5    0.625000    5
132925  el pueblito                              6.0    0.750000    6
135044  Restaurant Wu Zhuo Yi                    4.5    1.250000    5
135049  Restaurante de Mariscos la Langosta      4.0    0.600000    3
132561  cafe ambar                               5.0    1.000000    5
132845  Cenaduria El Rincón de Tlaquepaque       3.5    0.500000    3
132663  tacos abi                                4.5    0.375000    3
135033  Restaurant El Muladar de Calzada         5.5    0.800000    4
132609  Pollo_Frito_Buenos_Aires                 3.0    0.600000    3
132594  tacos de barbacoa enfrente del Tec       4.5    1.200000    6
132766  Mikasa                                   3.5    0.800000    4
132706  Gorditas Dona Tota                       5.5    1.400000    7
132870  Tortas y hamburguesas el gordo           3.5    1.000000    5
132877  sirloin stockade                         3.5    0.750000    3
132560  puesto de gorditas                       2.5    1.000000    4
132654  Carnitas Mata  Calle 16 de Septiembre    1.0    0.200000    1
135040  Restaurant los Compadres                 1.0    0.250000    1

                                              service_rating
                                                        mean  sum
placeID name
135032  Cafeteria y Restaurant El Pacifico          0.905579  211
135085  Tortas Locas Hipocampo                      0.527523  115
135075  Mariscos El Pescador                        1.871429  131
132723  Gordas de morales                           1.848485  122
135074  Restaurante la Parroquia Potosina           1.052632   60
135028  La Virreina                                 0.563830  106
135052  La Cantina Restaurante                      0.494118   84
135060  Restaurante Marisco Sam                     0.539773   95
135062  Restaurante El Cielo Potosino               1.277778   69
135051  Restaurante Versalles                       1.113636   49
135058  Restaurante Tiberius                        0.459016   84
135038  Restaurant la Chalita                       1.132075   60
132834  Gorditas Doa Gloria                         0.433962   69
135106  El Rinc�n de San Francisco                  0.477987   76
132572  Cafe Chaires                                1.000000   71
135046  Restaurante El Reyecito                     0.955224   64
132862  La Posada del Virrey                        1.692308   66
132825  puesto de tacos                             0.289474   44
135086  Mcdonalds Parque Tangamanga                 0.169231   11
132856  Unicols Pizza                               0.389262   58
135045  Restaurante la Gran Via                     0.363636   48
135066  Restaurante Guerra                          1.678571   47
132954  la parroquia                                1.419355   44
132955  emilianos                                   1.956522   45
132958  tacos los volcanes                          1.875000   45
135042  Restaurant Oriental Express                 0.385714   54
132733  Little Cesarz                               1.666667   40
135027  Restaurant Orizatlan                        1.071429   30
135041  Luna Cafe                                   0.223776   32
135039  Restaurant de Mariscos de Picon             0.966667   29
...                                                      ...  ...
135011  Los Vikingos                                1.333333    8
132583  McDonalds Centro                            1.250000   10
132847  don burguers                                0.571429    4
132626  la perica hamburguesa                       1.200000    6
135035  El Mundo de la Pasta                        1.400000    7
135082  la Estrella de Dimas                        0.545455    6
135104  vips                                        0.750000    6
132667  little pizza Emilio Portes Gil              1.400000    7
132608  Hamburguesas La perica                      0.833333    5
134987  Chilis Cuernavaca                           0.750000    6
135016  Arrachela Grill                             1.200000    6
132665  TACOS CORRECAMINOS                          1.000000    7
132732  Taqueria EL amigo                           1.111111   10
132885  Hamburguesas saul                           0.500000    4
132925  el pueblito                                 0.750000    6
135044  Restaurant Wu Zhuo Yi                       1.000000    4
135049  Restaurante de Mariscos la Langosta         1.000000    5
132561  cafe ambar                                  1.000000    5
132845  Cenaduria El Rincón de Tlaquepaque          0.666667    4
132663  tacos abi                                   0.750000    6
135033  Restaurant El Muladar de Calzada            1.400000    7
132609  Pollo_Frito_Buenos_Aires                    0.600000    3
132594  tacos de barbacoa enfrente del Tec          0.600000    3
132766  Mikasa                                      0.600000    3
132706  Gorditas Dona Tota                          0.800000    4
132870  Tortas y hamburguesas el gordo              0.400000    2
132877  sirloin stockade                            1.000000    4
132560  puesto de gorditas                          0.250000    1
132654  Carnitas Mata  Calle 16 de Septiembre       0.200000    1
135040  Restaurant los Compadres                    0.250000    1

[130 rows x 8 columns]