In [1]:
from google.colab import files

uploaded = files.upload()

Saving chefmozaccepts.csv to chefmozaccepts.csv
Saving chefmozcuisine.csv to chefmozcuisine.csv
Saving chefmozhours4.csv to chefmozhours4.csv
Saving chefmozparking.csv to chefmozparking.csv
Saving geoplaces2.csv to geoplaces2.csv
Saving rating_final.csv to rating_final.csv
Saving README to README
Saving ReadMe.rtf to ReadMe.rtf
Saving usercuisine.csv to usercuisine.csv
Saving userpayment.csv to userpayment.csv
Saving userprofile.csv to userprofile.csv

In [2]:
! ls

chefmozaccepts.csv  chefmozparking.csv	README	     usercuisine.csv
chefmozcuisine.csv  geoplaces2.csv	ReadMe.rtf   userpayment.csv
chefmozhours4.csv   rating_final.csv	sample_data  userprofile.csv

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [0]:
chefmozacccepts = pd.read_csv("chefmozaccepts.csv")
chefmozcuisine = pd.read_csv("chefmozcuisine.csv")
chefmozhours4 = pd.read_csv("chefmozhours4.csv")
chefmozparking = pd.read_csv("chefmozparking.csv")
geoplaces2 = pd.read_csv("geoplaces2.csv")
rating_final = pd.read_csv("rating_final.csv")
usercuisine = pd.read_csv("usercuisine.csv")
userpayment = pd.read_csv("userpayment.csv")
userprofile = pd.read_csv("userprofile.csv")

## Chefmozaccepts
placeID: ID of the restaurant.

Rpayment: type of pay that the restaurant accept

In [4]:
chefmozacccepts.shape

(1314, 2)

In [5]:
chefmozacccepts.sample(5)

      placeID          Rpayment
822    132699              cash
616    132802  American_Express
738    132751  bank_debit_cards
1298   132023  American_Express
668    132785              cash

In [6]:
chefmozacccepts['Rpayment'].unique()

array(['cash', 'VISA', 'MasterCard-Eurocard', 'American_Express',
       'bank_debit_cards', 'checks', 'Discover', 'Carte_Blanche',
       'Diners_Club', 'Visa', 'Japan_Credit_Bureau', 'gift_certificates'],
      dtype=object)

In [7]:
chefmozacccepts['Rpayment'].unique().size

12

We have 12 type of payment, maybe we have to only use 2 or 3 of them, like cash, credictCard and checks.

In [0]:
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment']
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts']\
             .replace(['VISA', 'MasterCard-Eurocard', 'American_Express',
                       'bank_debit_cards','Discover', 'Carte_Blanche',
                       'Diners_Club', 'Visa', 'Japan_Credit_Bureau'], ' credictCard')
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts']\
             .replace(['gift_certificates'], 'checks')

In [0]:
chefmozacccepts['Rpayment_accepts'] = chefmozacccepts['Rpayment_accepts'].astype('category')

## Chefmozcuisine

placeID: ID of the restaurant.

Rcuisine: The region of the food that they cook.

In [10]:
chefmozcuisine.sample(5)

     placeID         Rcuisine
580   132464           German
184   132955  Bar_Pub_Brewery
770   132226         American
114   134989          Mexican
710   132294         Southern

In [11]:
chefmozcuisine['Rcuisine'].unique()

array(['Spanish', 'Italian', 'Latin_American', 'Mexican', 'Fast_Food',
       'Burgers', 'Dessert-Ice_Cream', 'Hot_Dogs', 'Steaks', 'Asian',
       'International', 'Mongolian', 'Vegetarian', 'Brazilian',
       'Cafe-Coffee_Shop', 'Cafeteria', 'Contemporary', 'Deli-Sandwiches',
       'Diner', 'Japanese', 'Sushi', 'Seafood', 'Chinese', 'Bar',
       'Bar_Pub_Brewery', 'Pizzeria', 'Mediterranean', 'American',
       'Family', 'Caribbean', 'African', 'Breakfast-Brunch', 'Regional',
       'Afghan', 'Bakery', 'Game', 'Armenian', 'Vietnamese', 'Korean',
       'Thai', 'Barbecue', 'Polish', 'Dutch-Belgian', 'French', 'German',
       'Southwestern', 'Persian', 'Ethiopian', 'Juice', 'Soup',
       'Continental-European', 'Greek', 'Southern', 'Eastern_European',
       'California', 'Bagels', 'Turkish', 'Organic-Healthy',
       'Fine_Dining'], dtype=object)

In [0]:
# This doesn't make much sense, we can split the Clasification for have less dummy variables, but we will try make the recomendation with full data
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine']
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Spanish','Italian','Seafood','Greek','Mediterranean'], 'Mediterranean')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Latin_American','Mexican','Brazilian','Caribbean'], 'South_American')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Fast_Food','Hot_Dogs','Burgers','Deli-Sandwiches','Pizzeria'], 'Fast_Food')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Asian','Mongolian','Chinese','Japanese','Sushi','Vietnamese', 'Korean','Thai'], 'Asian')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['French', 'German','Polish', 'Dutch-Belgian','Continental-European','Eastern_European'], 'European')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Afghan','Armenian','Persian','Turkish'], 'Turkish')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['African','Ethiopian'], 'African')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Breakfast-Brunch','Bagels'], 'Breakfast')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Bar_Pub_Brewery','Bar'], 'Bar')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Cafeteria','Cafe-Coffee_Shop',''], 'Cafeteria')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['Fine_Dining','Organic-Healthy','Vegetarian'], 'Healthy')
chefmozcuisine['Rcuisine_Type'] = chefmozcuisine['Rcuisine_Type'].replace(['American','California','Southwestern'], 'American')

In [13]:
chefmozcuisine['Rcuisine_Type'].unique()

array(['Mediterranean', 'South_American', 'Fast_Food',
       'Dessert-Ice_Cream', 'Steaks', 'Asian', 'International', 'Healthy',
       'Cafeteria', 'Contemporary', 'Diner', 'Bar', 'American', 'Family',
       'African', 'Breakfast', 'Regional', 'Turkish', 'Bakery', 'Game',
       'Barbecue', 'European', 'Juice', 'Soup', 'Southern'], dtype=object)

In [14]:
chefmozcuisine.sample(5)

     placeID          Rcuisine   Rcuisine_Type
850   132125           Mexican  South_American
120   134983   Bar_Pub_Brewery             Bar
27    135097  Cafe-Coffee_Shop       Cafeteria
580   132464            German        European
425   132674          American        American

## chefmozhours4

placeID: ID of the restaurant.

hours: Hours that they open

days Days that they open

In [15]:
chefmozhours4.sample(5)

      placeID         hours                  days
475    133025  00:00-23:30;                  Sat;
1607   132636  00:00-23:30;                  Sun;
1577   132646  00:00-23:30;                  Sun;
927    132867  08:00-22:30;  Mon;Tue;Wed;Thu;Fri;
180    135047  08:00-23:30;  Mon;Tue;Wed;Thu;Fri;

In [16]:
chefmozhours4['days'].unique()

array(['Mon;Tue;Wed;Thu;Fri;', 'Sat;', 'Sun;'], dtype=object)

In [0]:
chefmozhours4['days'] = chefmozhours4['days'].replace(['Mon;Tue;Wed;Thu;Fri;'],'Diary_Days')

In [18]:
chefmozhours4['days'].unique()

array(['Diary_Days', 'Sat;', 'Sun;'], dtype=object)

## chefmozparking

placeID:  ID of the restaurant.

parking_lot: The type of parking that they has

In [19]:
chefmozparking.sample(10)

     placeID    parking_lot
392   132783  valet parking
511   132664           none
261   132916           none
42    135065           none
331   132846           none
333   132844           none
586   132588         public
687   132157            yes
538   132637           none
154   133030           none

In [20]:
chefmozparking['parking_lot'].unique()

array(['public', 'none', 'yes', 'valet parking', 'fee', 'street',
       'validated parking'], dtype=object)

In [0]:
chefmozparking['parking'] = chefmozparking['parking_lot']
chefmozparking['parking'] = chefmozparking['parking'].replace(['yes','public', 'valet parking','validated parking','fee'], 'yes')
chefmozparking['parking'] = chefmozparking['parking'].replace(['none','street'], 'yes')

## geoplaces2

placeID: ID of the restaurant.

latitude and longitude: The location of the restaurant

the_geom_meter:

name: Name of the restaurant

address: The Address of the Restaurant

city: City

state: State

country: Country

fax: ?

zip: The ZIP of the restaurant (CP in Spain)

alcohol: Type of alcohol that they serve

smoking_area: If they have a smoke zone

dress_code: If they has dress code or not

accessibility: I think it was if the restaurant have handicapped access

price: what type of price has the restaurant

url: web url

Rambience: ambience (familiar, quiet, noisy, etc)

franchise: if the restaurant is or not a franchise

area:

other_services:

In [22]:
geoplaces2.sample(5)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
111,132594,23.752168,-99.165709,0101000020957F00003AE4C6DBF48157C1CE38ECC1864E...,tacos de barbacoa enfrente del Tec,?,?,?,?,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,familiar,f,open,none
120,135028,22.146658,-100.987219,0101000020957F0000B4F00BDD8B4858C10AC3619C83A6...,La Virreina,Av. Carranza 830,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,medium,?,familiar,f,closed,none
82,135048,22.142017,-100.999246,0101000020957F00008032636EEC4858C16CDF265038AA...,Restaurante Bar Fu-hao,Jesus Goytortua 390 Tangamanga,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none
38,134992,18.936683,-99.247366,0101000020957F0000FC799354656C5AC1233FCC70E758...,Restaurant Teely,La Pradera,Cuernavaca,Morelos,Mexico,?,...,Wine-Beer,section,casual,no_accessibility,high,?,familiar,f,closed,none
90,132872,22.173595,-100.994603,0101000020957F0000942C3434384458C1C2D3499804A7...,Pizzeria Julios,?,s.l.p,mexico,?,?,...,No_Alcohol_Served,not permitted,informal,partially,medium,?,familiar,f,closed,none

In [23]:
geoplaces2.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [24]:
geoplaces2['Rambience'].unique()

array(['familiar', 'quiet'], dtype=object)

## rating_final

In [25]:
rating_final.head(5)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [0]:
rating_final['goodRating?'] = np.nan
rating_final['ratingMean'] = 0.00

In [52]:
import math
for i in range(len(rating_final)):
    sumarating = [rating_final['food_rating'][i],rating_final['service_rating'][i]]
    sumaratingMean = np.mean(sumarating)
    sumaratingRound = math.ceil(sumaratingMean)
    
    rating_final['goodRating?'][i] = rating_final['rating'][i]==sumaratingRound
    rating_final['ratingMean'][i] = sumaratingMean

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [48]:
rating_final[rating_final['goodRating?']==False].head()

,userID,placeID,rating,food_rating,service_rating,goodRating?,ratingMean
3,U1077,135060,1,2,2,False,2.0
4,U1068,135104,1,1,2,False,1.5
11,U1067,132732,1,2,2,False,2.0
14,U1067,132560,1,0,0,False,0.0
15,U1103,132584,1,2,1,False,1.5

In [0]:
rating_final[rating_final['goodRating?']==False]

 ## usercuisine

In [28]:
usercuisine.sample(5)

    userID         Rcuisine
309  U1135  Southeast_Asian
217  U1128          Mexican
227  U1135    Mediterranean
254  U1135            Irish
229  U1135         Austrian

## userpayment

In [29]:
userpayment.sample(5)

   userID          Upayment
84  U1068              cash
32  U1029              cash
89  U1072  bank_debit_cards
33  U1030              cash
5   U1005              cash

## userprofile

In [30]:
userprofile.sample(5)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
122,U1123,23.753112,-99.168567,false,abstemious,informal,family,?,single,independent,1987,technology,hard-worker,Catholic,student,green,110,medium,1.75
33,U1034,22.137178,-101.013169,false,casual drinker,informal,family,public,single,independent,1990,technology,thrifty-protector,Catholic,student,yellow,50,medium,1.58
102,U1103,23.752265,-99.168590,false,abstemious,formal,friends,public,single,independent,1989,technology,hard-worker,Jewish,professional,green,120,medium,1.90
11,U1012,18.813348,-99.243697,false,casual drinker,formal,family,public,single,independent,1988,technology,hard-worker,Catholic,student,red,98,medium,1.84
99,U1100,18.879729,-99.067106,false,casual drinker,formal,friends,public,single,independent,1990,eco-friendly,hard-worker,Christian,student,black,40,medium,1.65

In [31]:
userprofile['hijos'].unique()

array(['independent', 'kids', '?', 'dependent'], dtype=object)

In [32]:
## We can join all data table of user, to do a fullUserInformation, with this maybe we can see all table better.
fullUserInformation = userprofile.merge(userpayment, on = 'userID', how ='left')
fullUserInformation = fullUserInformation.merge(usercuisine,on='userID', how = 'left')
fullUserInformation = fullUserInformation.merge(rating_final,on='userID', how = 'left')
fullUserInformation.sample(5)

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,...,budget,height,Upayment,Rcuisine,placeID,rating,food_rating,service_rating,goodRating?,ratingMean
4011,U1135,22.170396,-100.949936,false,casual drinker,informal,family,on foot,single,kids,...,low,1.54,cash,North_African,135058,0,0,0,True,0
1388,U1085,22.196787,-100.936335,false,abstemious,no preference,solitary,car owner,single,independent,...,?,1.70,cash,Mexican,135042,0,0,0,True,0
1286,U1076,22.156469,-100.985540,false,social drinker,elegant,family,public,married,kids,...,medium,1.71,VISA,Mexican,135042,2,2,2,True,2
1978,U1108,22.143524,-100.987562,false,abstemious,informal,solitary,public,single,independent,...,medium,1.81,VISA,Japanese,132723,2,2,2,True,2
2887,U1135,22.170396,-100.949936,false,casual drinker,informal,family,on foot,single,kids,...,low,1.54,cash,Burgers,135052,0,0,0,True,0

In [0]:
class MiClase:
    """Simple clase de ejemplo"""
    i = 12345
    def f(self):
        return 'hola mundo'
    def __init__(self):
        self.datos = []

In [65]:
x = MiClase()
x.__dict__

{'datos': []}