In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("../library")
import RecSys as rs
path = "../clean_data/"

In [2]:
chefmozGeo_r = pd.read_csv(path + "chefmozGeo_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
chefmozProfile_r = pd.read_csv(path + "chefmozProfile_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
rating_final_r = pd.read_csv(path + "rating_final_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
userChefmozRelation_r = pd.read_csv(path + "userChefmozRelation_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
userGeo_r = pd.read_csv(path + "userGeo_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
userProfile_r = pd.read_csv(path + "userProfile_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)

In [3]:
chefmozGeo_r.head()

,placeID,latitude,longitude,the_geom_meter,address,city,state,country,fax,zip
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Revolucion,Cuernavaca,Morelos,Mexico,?,?
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,78280
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,78000
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,calle emilio portes gil,victoria,tamaulipas,?,?,?
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,?

In [4]:
chefmozGeo_r[chefmozGeo_r['placeID']==135040]

Empty DataFrame
Columns: [placeID, latitude, longitude, the_geom_meter, address, city, state, country, fax, zip]
Index: []

In [5]:
chefmozProfile_r.head()

,placeID,alcohol,smoking_area,dress_code,accessibility,price,Rambience,franchise,area,other_services,Rpayment,Rpayment_accepts,Rcuisine,Rcuisine_Type,hours,days,parking_lot,parking
0,134999,No_Alcohol_Served,none,informal,no_accessibility,medium,familiar,yes,closed,none,NaN,NaN,Japanese,Asian,11:00-21:00;,Diary_Days;Sat;;Sun;,none,no
1,132825,No_Alcohol_Served,none,informal,yes_accessibility,low,familiar,yes,open,none,cash,cash,Mexican,South_American,09:00-12:00;,Diary_Days;Sat;;Sun;,none,no
2,135106,Wine-Beer,only at bar,informal,yes_accessibility,medium,familiar,yes,open,none,cash;VISA;MasterCard-Eurocard,cash; credictCard,Mexican,South_American,18:00-23:30;;18:00-21:00;,Diary_Days;Sat;;Sun;,none,no
3,132667,No_Alcohol_Served,none,informal,yes_accessibility,low,familiar,no,closed,none,cash,cash,Armenian,Middle East,00:00-23:30;,Diary_Days;Sat;;Sun;,none,no
4,132613,No_Alcohol_Served,permitted,informal,yes_accessibility,medium,familiar,no,closed,none,cash,cash,Mexican,South_American,08:00-16:00;;07:00-16:00;,Diary_Days;Sat;;Sun;,yes,yes

In [6]:
chefmozProfile_r[chefmozProfile_r['placeID']==135040]

Empty DataFrame
Columns: [placeID, alcohol, smoking_area, dress_code, accessibility, price, Rambience, franchise, area, other_services, Rpayment, Rpayment_accepts, Rcuisine, Rcuisine_Type, hours, days, parking_lot, parking]
Index: []

In [7]:
rating_final_r.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   132825       2            2               2
2  U1077   135060       1            2               2
3  U1068   135104       1            1               2
4  U1068   132740       0            0               0

In [8]:
userChefmozRelation_r.head()

,userID,placeID,rating,food_rating,service_rating,Upayment,Upayment_accepts,Rcuisine,Rcuisine_Type
0,U1077,135085,2,2,2,VISA,credictCard,Mexican,South_American
1,U1077,135085,2,2,2,cash,cash,Mexican,South_American
2,U1077,135085,2,2,2,bank_debit_cards,credictCard,Mexican,South_American
3,U1077,132825,2,2,2,VISA,credictCard,Mexican,South_American
4,U1077,132825,2,2,2,cash,cash,Mexican,South_American

In [9]:
userGeo_r.head()

  userID   latitude   longitude
0  U1001  22.139997 -100.978803
1  U1002  22.150087 -100.983325
2  U1003  22.119847 -100.946527
3  U1004  18.867000  -99.183000
4  U1005  22.183477 -100.959891

In [10]:
userProfile_r.head()

,userID,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,religion,activity,Rcuisine_Type,Upayment_accepts
0,U1001,false,abstemious,informal,family,on foot,single,independent,none,student,['North_American'],['cash']
1,U1002,false,abstemious,informal,family,public,single,independent,Catholic,student,['South_American'],['cash']
2,U1003,false,social drinker,formal,family,public,single,independent,Catholic,student,['South_American'],['cash']
3,U1004,false,abstemious,informal,family,public,single,independent,none,professional,"['Bakery', 'Breakfast', 'Asian', 'Contemporary...","['cash', ' credictCard']"
4,U1005,false,abstemious,no preference,family,public,single,independent,Catholic,student,['North_American'],['cash']