In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("../library")
import RecSys as rs
path = "../clean_data/"

In [2]:
chefmozGeo_r = pd.read_csv(path + "chefmozGeo_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
chefmozProfile_r = pd.read_csv(path + "chefmozProfile_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
rating_final_r = pd.read_csv(path + "rating_final_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
userChefmozRelation_r = pd.read_csv(path + "userChefmozRelation_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
userGeo_r = pd.read_csv(path + "userGeo_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)
userProfile_r = pd.read_csv(path + "userProfile_r.csv", sep=';').drop(['Unnamed: 0'],axis=1)

In [3]:
chefmozGeo_r.head()

,placeID,latitude,longitude,the_geom_meter,address,city,state,country,fax,zip
0,0,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Revolucion,Cuernavaca,Morelos,Mexico,?,?
1,1,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,78280
2,2,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,78000
3,3,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,calle emilio portes gil,victoria,tamaulipas,?,?,?
4,4,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,?

In [4]:
chefmozGeo_r[chefmozGeo_r['placeID']==135040]

Empty DataFrame
Columns: [placeID, latitude, longitude, the_geom_meter, address, city, state, country, fax, zip]
Index: []

In [5]:
chefmozProfile_r.head()

,placeID,alcohol,have_smoking_area,dress_code,accessibility,price,Rambience,franchise,other_services,Rcuisine_Type,parking_lot,parking,CreditCardAccepts
0,0,No_Alcohol_Served,no,informal,no,medium,familiar,yes,none,Asian,none,no,no
1,1,No_Alcohol_Served,no,informal,yes,low,familiar,yes,none,South_American,none,no,no
2,2,Wine-Beer,yes,informal,yes,medium,familiar,yes,none,South_American,none,no,yes
3,3,No_Alcohol_Served,no,informal,yes,low,familiar,no,none,Middle East,none,no,no
4,4,No_Alcohol_Served,yes,informal,yes,medium,familiar,no,none,South_American,yes,yes,no

In [6]:
chefmozProfile_r['alcohol'].unique()

array(['No_Alcohol_Served', 'Wine-Beer', 'Full_Bar'], dtype=object)

In [7]:
chefmozProfile_r['dress_code'].unique()

array(['informal', 'casual', 'formal'], dtype=object)

In [8]:
chefmozProfile_r['accessibility'].unique()

array(['no', 'yes'], dtype=object)

In [9]:
chefmozProfile_r['price'].unique()

array(['medium', 'low', 'high'], dtype=object)

In [10]:
chefmozProfile_r['Rambience'].unique()

array(['familiar', 'quiet'], dtype=object)

In [11]:
chefmozProfile_r['franchise'].unique()

array(['yes', 'no'], dtype=object)

In [12]:
chefmozProfile_r['other_services'].unique()

array(['none', 'Internet', 'variety'], dtype=object)

In [13]:
chefmozProfile_r[chefmozProfile_r['placeID']==135040]

Empty DataFrame
Columns: [placeID, alcohol, have_smoking_area, dress_code, accessibility, price, Rambience, franchise, other_services, Rcuisine_Type, parking_lot, parking, CreditCardAccepts]
Index: []

In [14]:
rating_final_r.head()

   userID  placeID  rating  food_rating  service_rating
0      76       87       2            2               2
1      76        1       2            2               2
2      76       35       1            2               2
3      67       45       1            1               2
4      67       58       0            0               0

In [15]:
userChefmozRelation_r.head()

,userID,placeID,rating,food_rating,service_rating,Upayment_accepts,Rcuisine_Type
0,76,87,2,2,2,credictCard,South_American
1,76,87,2,2,2,cash,South_American
2,76,87,2,2,2,credictCard,South_American
3,76,1,2,2,2,credictCard,South_American
4,76,1,2,2,2,cash,South_American

In [16]:
userGeo_r.head()

   userID   latitude   longitude
0       0  22.139997 -100.978803
1       1  22.150087 -100.983325
2       2  22.119847 -100.946527
3       3  18.867000  -99.183000
4       4  22.183477 -100.959891

In [17]:
userProfile_r.head()

,userID,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,religion,activity,Rcuisine_Type,Upayment_accepts
0,0,false,abstemious,informal,family,on foot,single,independent,none,student,North_American,no
1,1,false,abstemious,informal,family,public,single,independent,Catholic,student,South_American,no
2,2,false,social drinker,formal,family,public,single,independent,Catholic,student,South_American,no
3,3,false,abstemious,informal,family,public,single,independent,none,professional,Bakery;Breakfast;Asian;Contemporary;South_Amer...,yes
4,4,false,abstemious,no preference,family,public,single,independent,Catholic,student,North_American,no

In [18]:
userProfile_r['Rcuisine_Type']

0                                         North_American
1                                         South_American
2                                         South_American
3      Bakery;Breakfast;Asian;Contemporary;South_Amer...
4                                         North_American
5                                         South_American
6                                                 Family
7      Coffee_Shop;South_American;Breakfast;South_Ame...
8      Diner;Fast_Food;Family;Coffee_Shop;Fast_Food;C...
9                                         South_American
10                                        South_American
11                                        South_American
12                                                 Asian
13                                       Asian;Fast_Food
14                                        South_American
15     Coffee_Shop;Contemporary;South_American;Contem...
16                                                 Asian
17                                        South_American
18                                                Family
19                                        South_American
20              Fast_Food;South_American;Asian;Fast_Food
21                                        South_American
22                                        South_American
23                                           Middle East
24                                        South_American
25                                        South_American
26                                                Family
27                                        South_American
28                                        South_American
29                                        South_American
                             ...
108                                       South_American
109                                       South_American
110                                       South_American
111                                       South_American
112                                            Fast_Food
113                                       South_American
114                                       South_American
115                                       South_American
116                                        Mediterranean
117                                            Fast_Food
118                                       South_American
119                                       South_American
120                                       South_American
121                                          Middle East
122                                       South_American
123                                       South_American
124                                       South_American
125                                       South_American
126                                       South_American
127       Coffee_Shop;Fast_Food;Fast_Food;South_American
128                                       South_American
129                                       South_American
130                                       South_American
131                                       South_American
132                                       South_American
133                                       South_American
134    Healthy-Vegetarian;Meat;Middle East;Mediterran...
135                                       South_American
136                                       South_American
137                                            Fast_Food
Name: Rcuisine_Type, Length: 138, dtype: object

In [19]:
userProfile_r['Upayment_accepts'].unique()

array(['no', 'yes'], dtype=object)

In [20]:
userProfile_r['Upayment_accepts']

0       no
1       no
2       no
3      yes
4       no
5       no
6       no
7       no
8       no
9       no
10      no
11     yes
12     yes
13      no
14      no
15      no
16     yes
17      no
18      no
19     yes
20      no
21      no
22      no
23      no
24      no
25     yes
26      no
27      no
28      no
29      no
      ...
108     no
109     no
110     no
111     no
112    yes
113     no
114     no
115    yes
116    yes
117     no
118     no
119     no
120    yes
121     no
122     no
123     no
124     no
125     no
126     no
127     no
128     no
129     no
130     no
131     no
132    yes
133     no
134     no
135     no
136     no
137     no
Name: Upayment_accepts, Length: 138, dtype: object

In [21]:
userDict = pd.DataFrame(list(range(len(rating_final_r['userID'].unique()))), index = userProfile_r['userID']).to_dict()[0]

In [22]:
restDict = pd.DataFrame(list(range(len(chefmozProfile_r['placeID'].unique()))), index = chefmozProfile_r['placeID']).to_dict()[0]

In [29]:
restDict[94]

94

In [24]:
userChefmozRelation_r.head()

,userID,placeID,rating,food_rating,service_rating,Upayment_accepts,Rcuisine_Type
0,76,87,2,2,2,credictCard,South_American
1,76,87,2,2,2,cash,South_American
2,76,87,2,2,2,credictCard,South_American
3,76,1,2,2,2,credictCard,South_American
4,76,1,2,2,2,cash,South_American

In [26]:
userProfile_r['userID'] = userProfile_r['userID'].apply(lambda x: userDict[x])
userGeo_r['userID'] = userGeo_r['userID'].apply(lambda x: userDict[x])
userChefmozRelation_r['userID'] = userChefmozRelation_r['userID'].apply(lambda x: userDict[x])
rating_final_r['userID'] = rating_final_r['userID'].apply(lambda x: userDict[x])
userChefmozRelation_r['placeID'] = userChefmozRelation_r['placeID'].apply(lambda x: restDict[x])
chefmozProfile_r['placeID'] = chefmozProfile_r['placeID'].apply(lambda x: restDict[x])
chefmozGeo_r['placeID'] = chefmozGeo_r['placeID'].apply(lambda x: restDict[x])
rating_final_r['placeID'] = rating_final_r['placeID'].apply(lambda x: restDict[x])

In [28]:
userGeo_r['userID'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137])

In [30]:
rating_final_r[rating_final_r['placeID']==94]

     userID  placeID  rating  food_rating  service_rating
71       92       94       2            2               2
81       29       94       0            0               0
86       65       94       2            1               0
97      132       94       1            2               0
443      39       94       1            2               1
448     120       94       2            2               2

In [31]:
userChefmozRelation_r.columns

Index(['userID', 'placeID', 'rating', 'food_rating', 'service_rating',
       'Upayment_accepts', 'Rcuisine_Type'],
      dtype='object')

In [34]:
len(userGeo_r['userID'].unique())

138

In [36]:
len(userProfile_r['userID'].unique())

138