In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys
sys.path.append("../library")
import RecSys as rs
#patch = "" # For Google CoLab
path = "../data/"

In [27]:
chefmozacccepts = pd.read_csv(path+"chefmozaccepts.csv")
chefmozcuisine = pd.read_csv(path+"chefmozcuisine.csv")
chefmozhours4 = pd.read_csv(path+"chefmozhours4.csv")
chefmozparking = pd.read_csv(path+"chefmozparking.csv")
geoplaces2 = pd.read_csv(path+"geoplaces2.csv")
rating_final = pd.read_csv(path+"rating_final.csv")
usercuisine = pd.read_csv(path+"usercuisine.csv")
userpayment = pd.read_csv(path+"userpayment.csv")
userprofile = pd.read_csv(path+"userprofile.csv")
# This will contain the list of Datas that we will 
# use for the Recommendation System
listOfData = [rating_final]

In [33]:
###############
# Those will be the data that we will use for the model and app
###############
userProfile_r = userprofile[['userID', 'smoker', 'drink_level','dress_preference', 
                             'ambience', 'transport', 'marital_status','hijos', 
                             'religion', 'activity']]


userGeo_r = userprofile[['userID', 'latitude', 'longitude']]

userChefmozRelation_r = rating_final
userChefmozRelation_r = userChefmozRelation_r.merge(userpayment, how='left', on='userID')
userChefmozRelation_r = userChefmozRelation_r.merge(usercuisine, how='left', on='userID')

chefmozProfile_r = geoplaces2[['placeID', 'alcohol', 'smoking_area','dress_code',
                               'accessibility', 'price', 'Rambience', 'franchise',
                               'area', 'other_services']]
chefmozProfile_r= chefmozProfile_r.merge(chefmozacccepts, how = 'left', on = 'placeID')
chefmozProfile_r= chefmozProfile_r.merge(chefmozcuisine, how = 'left', on = 'placeID')
chefmozProfile_r= chefmozProfile_r.merge(chefmozhours4, how = 'left', on = 'placeID')
chefmozProfile_r= chefmozProfile_r.merge(chefmozparking, how = 'left', on = 'placeID')

chefmozGeo_r = geoplaces2[['placeID', 'latitude', 'longitude', 'the_geom_meter',
                           'address', 'city', 'state', 'country', 'fax', 'zip']]

330

In [48]:
usercuisine['userID2'] =usercuisine['userID']
usercuisine.head()

  userID          Rcuisine userID2
0  U1001          American   U1001
1  U1002           Mexican   U1002
2  U1003           Mexican   U1003
3  U1004            Bakery   U1004
4  U1004  Breakfast-Brunch   U1004

In [52]:
prueba = usercuisine.groupby('userID2')
prueba.head()

    userID          Rcuisine userID2
0    U1001          American   U1001
1    U1002           Mexican   U1002
2    U1003           Mexican   U1003
3    U1004            Bakery   U1004
4    U1004  Breakfast-Brunch   U1004
5    U1004          Japanese   U1004
6    U1004      Contemporary   U1004
7    U1004           Mexican   U1004
12   U1005          American   U1005
13   U1006           Mexican   U1006
14   U1007            Family   U1007
15   U1008  Cafe-Coffee_Shop   U1008
16   U1008           Mexican   U1008
17   U1008             Juice   U1008
18   U1008          Hawaiian   U1008
19   U1008          Hot_Dogs   U1008
25   U1009             Diner   U1009
26   U1009         Fast_Food   U1009
27   U1009            Family   U1009
28   U1009  Cafe-Coffee_Shop   U1009
29   U1009   Deli-Sandwiches   U1009
32   U1010           Mexican   U1010
33   U1011           Mexican   U1011
34   U1012    Latin_American   U1012
35   U1013          Japanese   U1013
36   U1014          Japanese   U1014
37   U1014         Fast_Food   U1014
38   U1015           Mexican   U1015
39   U1016  Cafe-Coffee_Shop   U1016
40   U1016      Contemporary   U1016
..     ...               ...     ...
202  U1116           Mexican   U1116
203  U1117           Turkish   U1117
204  U1118          Pizzeria   U1118
205  U1119           Mexican   U1119
206  U1120           Mexican   U1120
207  U1121           Mexican   U1121
208  U1122            Afghan   U1122
209  U1123           Mexican   U1123
210  U1124           Mexican   U1124
211  U1125           Mexican   U1125
212  U1126           Mexican   U1126
213  U1127           Mexican   U1127
214  U1128         Cafeteria   U1128
215  U1128          Hot_Dogs   U1128
216  U1128          Pizzeria   U1128
217  U1128           Mexican   U1128
218  U1129           Mexican   U1129
219  U1130           Mexican   U1130
220  U1131           Mexican   U1131
221  U1132           Mexican   U1132
222  U1133           Mexican   U1133
223  U1134           Mexican   U1134
224  U1135   Organic-Healthy   U1135
225  U1135            Steaks   U1135
226  U1135    Middle_Eastern   U1135
227  U1135     Mediterranean   U1135
228  U1135           British   U1135
327  U1136           Mexican   U1136
328  U1137           Mexican   U1137
329  U1138          Pizzeria   U1138

[181 rows x 3 columns]

In [34]:
usercuisine.columns

Index(['userID', 'Rcuisine'], dtype='object')

In [15]:
chefmozparking.columns

Index(['placeID', 'parking_lot'], dtype='object')

In [17]:
geoplaces2.columns

Index(['placeID', 'latitude', 'longitude', 'the_geom_meter', 'name', 'address',
       'city', 'state', 'country', 'fax', 'zip', 'alcohol', 'smoking_area',
       'dress_code', 'accessibility', 'price', 'url', 'Rambience', 'franchise',
       'area', 'other_services'],
      dtype='object')

In [20]:
rating_final.columns

Index(['userID', 'placeID', 'rating', 'food_rating', 'service_rating'], dtype='object')

In [22]:
usercuisine.columns

Index(['userID', 'Rcuisine'], dtype='object')

In [23]:
userpayment.columns

Index(['userID', 'Upayment'], dtype='object')

In [3]:
### We have to do the secondview clean

In [4]:
rs.replaceID(realID=132706,falseID=132584,ID='placeID',data=listOfData)

In [5]:
rating_final[rating_final['placeID']==132584]

Empty DataFrame
Columns: [userID, placeID, rating, food_rating, service_rating]
Index: []

In [7]:
userprofile.columns

Index(['userID', 'latitude', 'longitude', 'smoker', 'drink_level',
       'dress_preference', 'ambience', 'transport', 'marital_status', 'hijos',
       'birth_year', 'interest', 'personality', 'religion', 'activity',
       'color', 'weight', 'budget', 'height'],
      dtype='object')

In [8]:
userprofile.head()

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,false,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,false,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65,medium,1.69

In [10]:
userprofile_r = userprofile[['userID', 'latitude', 'longitude', 'smoker', 'drink_level',
                            'dress_preference', 'ambience', 'transport', 'marital_status', 
                            'hijos', 'religion', 'activity']]